.md-avatar {
    width: 40px;
    height: 40px;
    margin-top: 8px;
    margin-bottom: 8px;
    /*margin-right: 16px;*/
    border-radius: 50%;
    box-sizing: content-box;
}

.fixed-top{
    position: fixed;
}

span.alert{
    /*top: 20px;*/
    /* right: 1px; */
    padding-left: 7px;
    color: orange;
    font-size: larger;
    /* height: 10px; */
    text-align: center;
    position: relative;
    display: block;
    bottom: 44px;
    height: 0px;
}
span.alertSidNav{
    color: orange;
    font-size: larger;
    position: relative;
    /* top: 0px; */
    /* padding-bottom: 75px; */
    /* margin-bottom: 98px; */
    bottom: 42px;
    display: block;
}