<div ng-controller="ChatCtrl as vm">
    <md-toolbar class="md-theme-light fixed-top" style="width: 240px;">
        <div class="md-toolbar-tools" >
            <!--<md-button ng-click="hideNavContactList()">-->
            <!--<md-icon md-svg-icon="social:ic_people_24px" aria-label="Contact"></md-icon>-->
            <!--Contacts-->
            <!--</md-button>-->
            <img alt="{{vm.user.name}}" ng-src="{{vm.user.img}}" class="md-avatar md-whiteframe-3dp" style="
                    display: block;
                    position: absolute;
                    padding-top: 0px;
                    /*margin-top: 14px;*/
                    background-color: {{vm.user.status.color}};
                    border: solid 5px  {{vm.user.status.color}};

                    /*width: 50px;*/
                    /*height: 50px;*/
                    /*margin-top: 4px;*/
                    width: 40px;
                    height: 40px;
                    margin-top: 6px;

                    margin-bottom: 8px;
                    /* margin-right: 16px; */
                    /* border-radius: 50%; */
                    border-radius: 12%;
                    box-sizing: content-box;
                    "/>
            <!--<a href="#" ng-click="showNavChat(user._id)"  style="width: 100%; padding: 0px 0px 0px 53px;" class="waves-effect waves-orange" >-->
            <div style="width: 100%; padding: 0px 0px 0px 53px;" >
                <p style="
        /* height: 1px; */
         margin: 0;
         padding: 0;
        position: absolute;
        display: flex;
        top: 3px;
        color: #9E9E9E;">
                    {{vm.user.status.name}}
                </p>
                <p style="
        /* height: 1px; */
        /* margin: 0; */
        /* padding: 0; */
        position: absolute;
        display: flex;
        top: 3px;
        color: #FFFFFF">
                    {{vm.user.name}} {{vm.user.lastName}}
                </p>
            </div>
        </div>
    </md-toolbar>
    <md-content layout-padding>
        <!--<md-list>-->
            <!--<md-list-item class="md-whiteframe-2dp md-2-line" ng-repeat="message in messages" >-->
                <!--&lt;!&ndash;<img ng-src="" class="face" alt="">&ndash;&gt;-->
                <!--<div class="md-list-item-text" style="text-align:{{getMessageAlign(message)}}">-->
                    <!--<h3>{{message.text}}</h3>-->
                    <!--&lt;!&ndash;<h4>tasd asdasd</h4>&ndash;&gt;-->
                    <!--<p>{{getOwnerMessage(message)}}</p>-->
                <!--</div>-->
                <!--&lt;!&ndash;<md-divider md-inset></md-divider>&ndash;&gt;-->
            <!--</md-list-item>-->
        <!--</md-list>-->
        <!--<md-card ng-repeat="message in messages"  style="text-align:{{getMessageAlign(message)}}">-->
            <!--<md-card-content>-->
                <!--<h3>{{message.text}}</h3>-->
                <!--<p>{{getOwnerMessage(message)}}</p>-->
            <!--</md-card-content>-->
        <!--</md-card>-->
        <div>
            <!--<ul>-->
                <!--<li ng-repeat="message in messages" class="text-right md-whiteframe-11dp"  style="-->
                    <!--margin: 0px;-->
                    <!--padding: 1px 15px 1px 15px;-->
                    <!--text-align:{{getMessageAlign(message)}}">-->
                    <!--<p>{{message.text}}</p>-->
                    <!--<p><b>{{getOwnerMessage(message)}}</b></p>-->
                <!--</li>-->
            <!--</ul>-->
            <!--<div class="text-right md-whiteframe-2dp">-->
                <!--<p>-->
                    <!--Menu-->
                <!--</p>-->
                <!--<p style="color:rgba(0,0,0,0.54);">-->
                    <!--Menu-->
                <!--</p>-->
            <!--</div>-->

            <div style="height: 60px;"></div>
            <div ng-repeat="message in vm.messages" class="text-right md-whiteframe-2dp"  style="{{message.style}};">
                <p>
                    {{message.text}}
                </p>
                <p style="color:rgba(0,0,0,0.54);">
                    {{message.owner}}
                </p>
            </div>
        </div>
        <br />
        <!--<md-divider></md-divider>-->
        <div>
            <form>
                <md-input-container class="md-block">
                    <label for="testInput">Enter message...</label>
                    <input ng-keydown="typing(this)" ng-model="newMessage.text" id="text" type="text" aria-label="Text"  md-autofocus>
                    <!--<textarea ng-keyup="typing($event)" ng-model="newMessage.text" id="text" md-autofocus></textarea>-->
                </md-input-container>
                <md-input-container class="md-block">
                    <md-button ng-click="addNewMessage()" class="md-raised md-primary" id="buttonSend">
                        <md-icon md-svg-icon="content:ic_send_24px" aria-label="Send"></md-icon>
                        Send
                    </md-button>
                </md-input-container>
            </form>
        </div>
        <!--<md-button ng-click="close()" class="md-primary">-->
        <!--Close Sidenav Right-->
        <!--</md-button>-->
    </md-content>
</div>
