<div ng-controller="ChatCtrl as vm">
    <md-toolbar class="md-theme-light fixed-top" style="width: 240px;display: block;position: fixed;">
        <div class="md-toolbar-tools" ng-click="showNavContactList()" style="cursor: pointer;">
            <!--<md-button ng-click="hideNavContactList()">-->
            <!--<md-icon md-svg-icon="social:ic_people_24px" aria-label="Contact"></md-icon>-->
            <!--Contacts-->
            <!--</md-button>-->
            <img alt="{{vm.userContact.name}}" ng-src="{{vm.userContact.img}}" class="md-avatar md-whiteframe-3dp" style="
                    display: block;
                    position: absolute;
                    padding-top: 0px;
                    /*margin-top: 14px;*/
                    background-color: {{vm.userContact.statusColor}};
                    border: solid 5px  {{vm.userContact.statusColor}};

                    /*width: 50px;*/
                    /*height: 50px;*/
                    /*margin-top: 4px;*/
                    width: 40px;
                    height: 40px;
                    margin-top: 6px;

                    margin-bottom: 8px;
                    /* margin-right: 16px; */
                    /* border-radius: 50%; */
                    border-radius: 12%;
                    box-sizing: content-box;
                    left: 6px;
                    "/>
            <!--<a href="#" ng-click="showNavChat(user._id)"  style="width: 100%; padding: 0px 0px 0px 53px;" class="waves-effect waves-orange" >-->
            <div style="width: 100%; padding: 0px 0px 0px 53px;" >
                <p style="
    margin: 0;
    padding: 0;
    position: absolute;
    /* display: flex; */
    top: 2px;
    color: #9E9E9E;
    font-size: 13px;
    width: 93px;
    left: 60px;">
                    {{vm.userContact.statusName}}
                </p>
                <p style="

    position: absolute;
    top: 2px;
    color: #FFF;
    width: 107px;
    font-size: 13px;
    text-align: left;
    left: 60px;">
                    {{vm.userContact.nameTreated}}
                </p>
                <p style="
    margin: 0;
    padding: 0;
    position: absolute;
    top: 28px;
    color: #9E9E9E;
    font-size: 13px;
    text-align: right;
    width: 93px;">
                    {{vm.user.statusName}}
                </p>
                <p style="
    position: absolute;
    top: 28px;
    color: #FFF;
    width: 93px;
    font-size: 13px;
    text-align: right;">
                    {{vm.user.nameTreated}}
                </p>
            </div>
            <img alt="{{vm.user.name}}" ng-src="{{vm.user.img}}" class="md-avatar md-whiteframe-3dp" style="
                    display: block;
                    position: absolute;
                    padding-top: 0px;
                    /*margin-top: 14px;*/
                    background-color: {{vm.user.statusColor}};
                    border: solid 5px  {{vm.user.statusColor}};

                    /*width: 50px;*/
                    /*height: 50px;*/
                    /*margin-top: 4px;*/
                    width: 40px;
                    height: 40px;
                    margin-top: 6px;

                    margin-bottom: 8px;
                    /* margin-right: 16px; */
                    /* border-radius: 50%; */
                    border-radius: 12%;
                    box-sizing: content-box;
                    left: 166px;
                    "/>
        </div>
    </md-toolbar>
    <md-content layout-padding>
        <!--<md-list>-->
            <!--<md-list-item class="md-whiteframe-2dp md-2-line" ng-repeat="message in messages" >-->
                <!--&lt;!&ndash;<img ng-src="" class="face" alt="">&ndash;&gt;-->
                <!--<div class="md-list-item-text" style="text-align:{{getMessageAlign(message)}}">-->
                    <!--<h3>{{message.text}}</h3>-->
                    <!--&lt;!&ndash;<h4>tasd asdasd</h4>&ndash;&gt;-->
                    <!--<p>{{getOwnerMessage(message)}}</p>-->
                <!--</div>-->
                <!--&lt;!&ndash;<md-divider md-inset></md-divider>&ndash;&gt;-->
            <!--</md-list-item>-->
        <!--</md-list>-->
        <!--<md-card ng-repeat="message in messages"  style="text-align:{{getMessageAlign(message)}}">-->
            <!--<md-card-content>-->
                <!--<h3>{{message.text}}</h3>-->
                <!--<p>{{getOwnerMessage(message)}}</p>-->
            <!--</md-card-content>-->
        <!--</md-card>-->
        <div>
            <!--<ul>-->
                <!--<li ng-repeat="message in messages" class="text-right md-whiteframe-11dp"  style="-->
                    <!--margin: 0px;-->
                    <!--padding: 1px 15px 1px 15px;-->
                    <!--text-align:{{getMessageAlign(message)}}">-->
                    <!--<p>{{message.text}}</p>-->
                    <!--<p><b>{{getOwnerMessage(message)}}</b></p>-->
                <!--</li>-->
            <!--</ul>-->
            <!--<div class="text-right md-whiteframe-2dp">-->
                <!--<p>-->
                    <!--Menu-->
                <!--</p>-->
                <!--<p style="color:rgba(0,0,0,0.54);">-->
                    <!--Menu-->
                <!--</p>-->
            <!--</div>-->

            <div style="height: 60px;"></div>
            <div ng-repeat="message in vm.messages" class="text-right md-whiteframe-2dp"  style="{{message.style}};">
                <p style="line-height: inherit; margin: 0px;">
                    {{message.text}}
                </p>
                <p style="line-height: inherit; color:rgba(0,0,0,0.54); margin: 0px;
                        position: relative;
                        top: 19px;
                        /* color: #FFF; */
                        /* width: 93px; */
                        font-size: 13px;
                        text-align: {{message.side}};
                        display: block;">
                    {{message.owner}}
                </p>
                <p style="line-height: inherit;
                        color:rgba(0,0,0,0.54);
                        position: relative;
                        top: 19px;
                        /* color: #FFF; */
                        /* width: 93px; */
                        font-size: 13px;
                        text-align: {{message.side}};
                        display: block;
                        margin: 0px;">
                    {{message.dateTrated}}
                </p>
            </div>
        </div>
        <br />
        <!--<md-divider></md-divider>-->
        <div>
            <form>
                <md-input-container class="md-block">
                    <label for="testInput">Enter message...</label>
                    <input ng-keydown="typing(this)" ng-model="newMessage.text" id="chatText" type="text" aria-label="Text" class="ui-focus md-autofocus" autocomplete="off">
                    <!--<textarea ng-keyup="typing($event)" ng-model="newMessage.text" id="text" md-autofocus></textarea>-->
                </md-input-container>
                <md-input-container class="md-block">
                    <md-button  type="submit" ng-click="addNewMessage()" class="md-raised md-primary" id="buttonSend">
                        <md-icon md-svg-icon="content:ic_send_24px" aria-label="Send"></md-icon>
                        Send
                    </md-button>
                </md-input-container>
            </form>
        </div>
        <!--<md-button ng-click="close()" class="md-primary">-->
        <!--Close Sidenav Right-->
        <!--</md-button>-->
    </md-content>
</div>
