<div ng-controller="ContactListCtrl as vm">
    <md-toolbar class="md-theme-light fixed-top">
        <div class="md-toolbar-tools" >
            <md-button ng-click="hideNavContactList()">
                <md-icon md-svg-icon="social:ic_people_24px" aria-label="Contact"></md-icon>
                Contacts
            </md-button>
        </div>
    </md-toolbar>
    <md-toolbar class="md-theme-light">
        <div class="md-toolbar-tools" >
            <md-button ng-click="hideNavContactList()">
                <md-icon md-svg-icon="social:ic_people_24px" aria-label="Contact"></md-icon>
                Contacts
            </md-button>
        </div>
    </md-toolbar>
    <!--<md-content layout-padding>-->
        <!--<form>-->
            <!--<md-input-container>-->
                <!--<label for="testInput">Procurar amigo</label>-->
                <!--<input type="text" id="testInput" ng-model="vm.data" md-autofocus>-->
            <!--</md-input-container>-->
        <!--</form>-->
        <!--<li class="waves-effect waves-orange" ng-repeat="user in vm.users"  layout="row">-->

        <li ng-repeat="user in vm.users" style="border-bottom: solid 1px rgba(0,0,0,0.12);" >
            <img alt="" ng-src="" class="md-avatar" style=" display: block; position: absolute;"/>
            <a href="#" ng-click="showNavChat(user._id)"  style="width: 100%; padding: 0 46px;" class="waves-effect waves-orange" >
                {{user.name}} {{user.lastName}}
                <!--<md-icon md-svg-icon="communication:ic_chat_24px" aria-label="Chat"></md-icon>-->
                <md-button ng-if="user.messagesNotVisualized" class="md-fab md-mini hoverable alert3" aria-label="Use Android">
                    <!--<md-button class="md-fab md-mini hoverable alert2" aria-label="Use Android">-->
                    {{user.messagesNotVisualized}}
                </md-button>
            </a>
            <!--<span class="alertSidNav">{{user.messagesNotVisualized}}</span>-->
        </li>
        <!--<div>-->
            <!--<md-list ng-cloak>-->
                <!--&lt;!&ndash;<md-divider></md-divider>&ndash;&gt;-->
                <!--&lt;!&ndash;<md-subheader class="md-no-sticky">Avatar with Secondary Action Icon</md-subheader>&ndash;&gt;-->
                <!--&lt;!&ndash;<md-list-item ng-repeat="user in vm.users" ng-click="toggleChat(user._id)">&ndash;&gt;-->
                <!--<md-list-item ng-repeat="user in vm.users" layout="row" data-activates="nav-chat" class="button-collapse nav-button-right">-->
                    <!--<img alt="" ng-src="" class="md-avatar" />-->
                    <!--&lt;!&ndash;<p>{{user.emails[0].address}}</p>&ndash;&gt;-->
                    <!--{{user.name}} {{user.lastName}}-->
                    <!--&lt;!&ndash;<md-icon md-svg-icon="communication:messenger" ng-click="doSecondaryAction($event)" aria-label="Open Chat" class="md-secondary md-hue-3" ng-class="{'md-primary': person.newMessage}"></md-icon>&ndash;&gt;-->
                    <!--<md-icon md-svg-icon="communication:ic_chat_24px" aria-label="Chat"></md-icon>-->
                <!--</md-list-item>-->
            <!--</md-list>-->
        <!--</div>-->
        <!--<md-button ng-click="close()" class="md-primary">-->
        <!--Close Sidenav Right-->
        <!--</md-button>-->
    <!--</md-content>-->
</div>
