<div ng-controller="ContactCtrl as vm">
    <md-toolbar class="md-theme-light">
        <div class="md-toolbar-tools">
            <md-button ng-click="vm.close()">
                <md-icon md-svg-icon="communication:ic_contacts_24px" aria-label="Contact"></md-icon>
                Contatos
            </md-button>
        </div>
    </md-toolbar>
    <md-content layout-padding>
        <form>
            <md-input-container>
                <label for="testInput">Procurar amigo</label>
                <input type="text" id="testInput" ng-model="vm.data" md-autofocus>
            </md-input-container>
        </form>
        <div>
            <md-list ng-cloak>
                <!--<md-divider></md-divider>-->
                <!--<md-subheader class="md-no-sticky">Avatar with Secondary Action Icon</md-subheader>-->
                <md-list-item ng-repeat="user in vm.users" ng-click="vm.toggleChat(user._id)">
                    <img alt="" ng-src="" class="md-avatar" />
                    <p>{{user.emails[0].address}}</p>
                    <!--<md-icon md-svg-icon="communication:messenger" ng-click="doSecondaryAction($event)" aria-label="Open Chat" class="md-secondary md-hue-3" ng-class="{'md-primary': person.newMessage}"></md-icon>-->
                    <md-icon md-svg-icon="communication:ic_chat_24px" aria-label="Chat"></md-icon>
                </md-list-item>
            </md-list>
        </div>
        <!--<md-button ng-click="close()" class="md-primary">-->
        <!--Close Sidenav Right-->
        <!--</md-button>-->
    </md-content>
</div>
