<md-dialog aria-label="Mango (Fruit)">
    <!--<md-toolbar>-->
        <!--<div class="md-toolbar-tools">-->
            <!--<h2>Login</h2>-->
            <!--<span flex></span>-->
        <!--</div>-->
    <!--</md-toolbar>-->
    <md-tabs md-dynamic-height md-border-bottom style="min-width:550px;max-width:800px;max-height:810px; ">
        <md-tab label="{{'Sign in' | translate}}">
            <md-content class="md-padding">
                <!--<div layout="row" layout-align="space-around center">-->
                <!--<div>Login with:</div>-->
                <!--<md-button>Twitter</md-button>-->
                <!--<md-button>Facebook</md-button>-->
                <!--</div>-->
                <div ng-show="error" class="md-warn">
                    <small>{{ error }}</small>
                </div>
                <form layout="column">
                    <md-input-container>
                        <md-icon md-svg-icon="content:ic_mail_24px"></md-icon>
                        <label>{{ 'Email' | translate }}</label>
                        <input type="text" ng-model="dataForm.email" aria-label="email"/>
                    </md-input-container>
                    <md-input-container>
                        <md-icon md-svg-icon="action:ic_lock_open_24px"></md-icon>
                        <label>{{ 'Password' | translate }}</label>
                        <input type="password" ng-model="dataForm.password" aria-label="password"/>
                    </md-input-container>
                    <!--<md-button class="md-raised md-primary" ng-click="lc.login()"-->
                    <!--aria-label="login">Sign In-->
                    <!--</md-button>-->
                    <md-button type="submit" class="md-raised md-primary" ng-click="login()" aria-label="login">
                        {{'Sign in' | translate}}
                    </md-button>
                </form>
            </md-content>
        </md-tab>
        <md-tab label="{{'Create account' | translate}}">
            <md-content class="md-padding">
                <!--<div layout="row" layout-align="space-around center">-->
                <!--<div>Register</div>-->
                <!--<md-button>Twitter</md-button>-->
                <!--<md-button>Facebook</md-button>-->
                <!--</div>-->
                <div ng-show="error" class="md-warn">
                    <small>{{ error }}</small>
                </div>
                <form layout="column">
                    <md-input-container>
                        <label>{{ 'Username' | translate }}</label>
                        <md-icon md-svg-icon="action:ic_face_24px"></md-icon>
                        <input type="text" ng-model="dataForm.username" aria-label="username"/>
                    </md-input-container>
                    <md-input-container>
                        <label>{{ 'Name' | translate }}</label>
                        <md-icon md-svg-icon="action:ic_face_24px"></md-icon>
                        <input type="text" ng-model="dataForm.name" aria-label="name"/>
                    </md-input-container>
                    <md-input-container>
                        <label>{{ 'Last name' | translate }}</label>
                        <md-icon md-svg-icon="content:ic_face_24px"></md-icon>
                        <input type="text" ng-model="dataForm.lastName" aria-label="lastName"/>
                    </md-input-container>
                    <md-input-container>
                        <label>{{ 'Email' | translate }}</label>
                        <md-icon md-svg-icon="content:ic_mail_24px"></md-icon>
                        <input type="text" ng-model="dataForm.email" aria-label="email"/>
                    </md-input-container>
                    <md-input-container>
                        <label>{{ 'Password' | translate }}</label>
                        <md-icon md-svg-icon="action:ic_lock_open_24px"></md-icon>
                        <input type="password" ng-model="dataForm.password" aria-label="password"/>
                    </md-input-container>
                    <md-input-container>
                        <label>{{ 'Confirm password' | translate }}</label>
                        <md-icon md-svg-icon="action:ic_lock_open_24px"></md-icon>
                        <input type="password" ng-model="dataForm.confirmPassword" aria-label="confirmPassword"/>
                    </md-input-container>
                    <md-button type="submit" class="md-raised md-primary" ng-click="register()" flex>
                        {{'Create account' | translate}}
                    </md-button>
                </form>
            </md-content>
        </md-tab>
        <md-tab label="{{'Forgot password?' | translate}}">
            <md-content class="md-padding">
                <!--<div layout="row" layout-align="space-around center">-->
                <!--<div>Login with:</div>-->
                <!--<md-button>Twitter</md-button>-->
                <!--<md-button>Facebook</md-button>-->
                <!--</div>-->
                <div ng-show="error" class="md-warn">
                    <small>{{ error }}</small>
                </div>
                <form layout="column">
                    <md-input-container>
                        <label>{{ 'Email' | translate }}</label>
                        <md-icon md-svg-icon="content:ic_mail_24px"></md-icon>
                        <input type="text" ng-model="dataForm.email" aria-label="email"/>
                    </md-input-container>
                    <md-button type="submit" class="md-raised md-primary"
                               ng-click="reset()" aria-label="login">{{'Reset password' | translate}}
                    </md-button>
                </form>
            </md-content>
        </md-tab>
    </md-tabs>
    <!--<md-dialog-content style="min-width:600px;max-width:800px;max-height:810px; ">-->
        <!---->
    <!--</md-dialog-content>-->
    <!--<div class="md-dialog-actions" layout="row">-->
        <!--<span flex></span>-->
        <!--<md-button class="primary" ng-click="close()" flex>-->
            <!--Cancel-->
        <!--</md-button>-->
        <!--<md-button class="md-raised md-primary" ng-click="login()"-->
                   <!--aria-label="login">Sign In-->
        <!--</md-button>-->
    <!--</div>-->
</md-dialog>

<!--<md-content layout="row">-->
<!--<span flex></span>-->
<!--<md-whiteframe layout="column" layout-align="center center" >-->
<!--<div layout="row" layout-align="space-around center">-->
<!--<div>Login with:</div>-->
<!--<md-button>Twitter</md-button>-->
<!--<md-button>Facebook</md-button>-->
<!--</div>-->
<!--<div ng-show="lc.error" class="md-warn">-->
<!--<small>{{ lc.error }}</small>-->
<!--</div>-->
<!--<form layout="column">-->
<!--<md-input-container>-->
<!--<md-icon md-svg-icon="content:ic_mail_24px"></md-icon>-->
<!--<input type="text" ng-model="lc.credentials.email"-->
<!--placeholder="email" aria-label="email"/>-->
<!--</md-input-container>-->
<!--<md-input-container>-->
<!--<md-icon md-svg-icon="action:ic_lock_open_24px"></md-icon>-->
<!--<input type="password" ng-model="lc.credentials.password"-->
<!--placeholder="password" aria-label="password"/>-->
<!--</md-input-container>-->
<!--<md-button class="md-raised md-primary" ng-click="lc.login()"-->
<!--aria-label="login">Sign In-->
<!--</md-button>-->
<!--</form>-->
<!--<div layout="row" layout-align="space-around center">-->
<!--<a href="/resetpw">Forgot password?</a>-->
<!--<a href="/register">Create an account</a>-->
<!--</div>-->
<!--</md-whiteframe>-->
<!--<span flex></span>-->
<!--</md-content>-->