<md-toast>
    <img alt="{{user.name}}" ng-src="{{user.img}}" class="md-avatar md-whiteframe-3dp" style="
            display: block;
            position: absolute;
            padding-top: 0px;
            /*margin-top: 14px;*/
            background-color: {{user.statusColor}};
            border: solid 5px  {{user.statusColor}};

            /*width: 50px;*/
            /*height: 50px;*/
            /*margin-top: 4px;*/
            width: 40px;
            height: 40px;
            margin-top: 6px;

            margin-bottom: 8px;
            /* margin-right: 16px; */
            /* border-radius: 50%; */
            border-radius: 12%;
            box-sizing: content-box;
            "/>
    <a href="#" ng-click="showNavChat(user._id)"  style="width: 100%; height: 100%;padding: 0px 0px 0px 53px;" class="waves-effect waves-orange" >
        <p style="
    /* height: 1px; */
     margin: 0;
     padding: 0;
    position: absolute;
    display: flex;
    top: 31px;
    color: #9E9E9E;">
            Is {{user.statusName}}.
        </p>
        <p style="
    /* height: 1px; */
    /* margin: 0; */
    /* padding: 0; */
    position: absolute;
    display: flex;
    top: 0px;
    color: #FFF;">
            {{user.name}} {{user.lastName}}
            <!--<md-icon md-svg-icon="communication:ic_chat_24px" aria-label="Chat"></md-icon>-->
            <md-button ng-if="user.messagesNotVisualized" class="md-fab md-mini hoverable alert3" aria-label="Use Android">
                <!--<md-button class="md-fab md-mini hoverable alert2" aria-label="Use Android">-->
                {{user.messagesNotVisualized}}
            </md-button>
        </p>
    </a>
    <!--<md-button class="md-highlight" ng-click="openMoreInfo($event)">-->
        <!--More info-->
    <!--</md-button>-->
    <!--<md-button ng-click="closeToast()">-->
        <!--Close-->
    <!--</md-button>-->
</md-toast>