<div ng-controller="UserSaveCtrl as vm" flex>
    <!--<div class="container">-->
        <md-content class="md-padding">
        <form layout="column">
            <md-input-container>
                <img alt="{{vm.user.name}}" ng-src="{{vm.user.img}}" class="md-avatar md-whiteframe-3dp" style="
                        display: block;
                        position: absolute;
                        padding-top: 0px;
                        /*margin-top: 14px;*/
                        background-color: {{vm.user.statusColor}};
                        border: solid 6px  {{vm.user.statusColor}};

                        width: 60px;
                        height: 60px;
                        /*margin-top: 4px;*/
                        /*width: 40px;*/
                        /*height: 40px;*/
                        margin-top: 6px;

                        margin-bottom: 8px;
                        /* margin-right: 16px; */
                        /* border-radius: 50%; */
                        border-radius: 12%;
                        box-sizing: content-box;
                        "/>
            </md-input-container>
            <br />
            <br />
            <br />
            <span>Troque sua foto pelo site gravatar <a href="http://pt.gravatar.com/" target="_blank" src="">clicando aqui</a>.</span>
            <span>Gravatar é um lugar onde você centralizar sua foto para que ela fique com você indepedente do site/sistema/aplicativo/jogo que você use.</span>
            <br />
            <div flex></div>
            <md-input-container>
                <md-icon md-svg-icon="action:ic_face_24px"></md-icon>
                <input type="text" ng-model="vm.form.name"
                       placeholder="Name" aria-label="name"/>
            </md-input-container>
            <md-input-container>
                <md-icon md-svg-icon="action:ic_face_24px"></md-icon>
                <input type="text" ng-model="vm.form.lastName"
                       placeholder="Last name" aria-label="lastName"/>
            </md-input-container>
            <!--<md-input-container>-->
                <!--<md-icon md-svg-icon="content:ic_mail_24px"></md-icon>-->
                <!--<input type="text" ng-model="dataForm.email"-->
                       <!--placeholder="Email" aria-label="email"/>-->
            <!--</md-input-container>-->
            <!--<md-input-container>-->
                <!--<md-icon md-svg-icon="action:ic_lock_open_24px"></md-icon>-->
                <!--<input type="password" ng-model="dataForm.password"-->
                       <!--placeholder="Password" aria-label="password"/>-->
            <!--</md-input-container>-->
            <!--<md-input-container>-->
                <!--<md-icon md-svg-icon="action:ic_lock_open_24px"></md-icon>-->
                <!--<input type="password" ng-model="dataForm.confirmPassword"-->
                       <!--placeholder="Confirm password" aria-label="confirmPassword"/>-->
            <!--</md-input-container>-->
            <md-button class="md-raised md-primary" ng-click="vm.saveUser()" flex>
                Save
            </md-button>
            <div flex></div>
        </form>
        </md-content>
    <!--</div>-->
</div>