<head>
    <!--<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.brown-deep_orange.min.css" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>-->
    <!--<script src="jquery-2.2.0.min.js"></script>-->
    <!--<script src="http://code.jquery.com/ui/1.8.21/jquery-ui.min.js"></script>-->
    <!--<script src="jquery.ui.touch-punch.min.js"></script>-->
    <!--<script src="public/library/jquery/touchPunch/jquery.ui.touch-punch.min.js"></script>-->
    <!--<title>j3scrum</title>-->
    <meta name="google-site-verification" content="e3EZ4OAnMK6b_Ya6aIB1qzBYHzhs8cuH9ED721qrec0" />
    <title ng-show="title">{{title}}</title>
</head>
<!--<body layout="column">-->
<body>
<div class="container-loading animated fadeInDown" style="display: none;">
    <!--<div class="sk-folding-cube">-->
        <!--<div class="sk-cube1 sk-cube"></div>-->
        <!--<div class="sk-cube2 sk-cube"></div>-->
        <!--<div class="sk-cube4 sk-cube"></div>-->
        <!--<div class="sk-cube3 sk-cube"></div>-->
    <!--</div>-->
    <div class="sk-cube-grid">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
    </div>
</div>
<!--<div ng-controller="ToolbarCtrl" layout="column" layout-fill ng-cloak>-->
<!--<div ng-controller="ToolbarCtrl" layout="column">-->
<!--<header>-->
<!--<div ng-include="'client/module/admin/view/toolbar.ng.html'"></div>-->
<!--</header>-->
<!--<main>-->
<!--<section layout="row" flex>-->
<!--&lt;!&ndash;<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="menu" md-is-locked-open="$mdMedia('gt-md')">&ndash;&gt;-->
<!--<md-content flex layout-padding>-->
<!--<div layout="column" layout-align="top center">-->
<!--<div ui-view ></div>-->
<!--</div>-->
<!--&lt;!&ndash;<div flex></div>&ndash;&gt;-->
<!--&lt;!&ndash;layout-wrap&ndash;&gt;-->
<!--</md-content>-->
<!--</section>-->
<!--</main>-->
<!--<footer class="page-footer brown darken-4" style="margin-top: 0px;">-->
<!--<div class="footer-copyright">-->
<!--<div class="container">-->
<!--Made by <a class="orange-text text-lighten-3" href="http://j3rotherhood.com">j3rotherhood</a>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;<div layout="row" layout-align="center center">&ndash;&gt;-->
<!--&lt;!&ndash;<h2>My Awesome Footer</h2>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<md-toolbar layout="row" layout-align="start center" layout-padding>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;<md-toolbar md-scroll-shrink layout="row" layout-align="start center" style="position: fixed;"  layout-padding>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;<md-toolbar  md-scroll-shrink ng-if="true" layout-align="start center" layout-padding style="position: fixed;">&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;<md-button class="md-icon-button" ng-click="toggleMenu()"  hide-gt-md>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;<md-icon md-svg-icon="navigation:ic_menu_24px" aria-label="Menu"></md-icon>&ndash;&gt;&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;<i class="material-icons">menu</i>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;</md-button>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;<md-toolbar class="md-theme-indigo">&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;Brotherhood&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;</md-toolbar>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;<h2>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;<a ui-sref="brotherhood"><span class="md-title">brotherhood</span></a>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<span class="md-title" style="text-transform: capitalize;">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;Teste&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;<h2>My Awesome Footer</h2>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;</span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;</md-toolbar>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</footer>-->
<!--<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="menu">-->
<!--<div ng-include="'client/module/admin/view/menu-items.ng.html'"></div>-->
<!--</md-sidenav>-->
<!--<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="chat">-->
<!--<div ng-include="'client/module/user/views/chat.ng.html'"></div>-->
<!--</md-sidenav>-->
<!--<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="contact-list">-->
<!--<div ng-include="'client/module/user/views/contact-list.ng.html'"></div>-->
<!--</md-sidenav>-->
<!--</div>-->
<!--<div  ng-app="brotherhood">-->

<!--<div ng-include="'module/admin/client/view/index.ng.html'"></div>-->
<header>
    <div ng-include="'module/scrum/client/view/header.ng.html'"></div>
    <div ui-view="header"></div>
    <div ui-view="header2"></div>
    <!--<div ng-include="'module/scrum/client/view/product-toolbar.ng.html'"></div>-->
    <!--<div ng-include="'module/admin/client/view/toolbar.ng.html'"></div>-->
</header>
<main>
    <!--<md-content>-->
        <!--<div ui-view class="fadeIn"></div>-->
    <div layout="row">
        <!--<div>-->
            <!--<div flex>-->
                <!--<section layout="row" flex>-->
                <!--<md-sidenav class="md-sidenav-left" md-component-id="left"-->
                            <!--md-disable-backdrop md-whiteframe="4">-->
                    <!--<md-toolbar class="md-theme-indigo">-->
                        <!--<h1 class="md-toolbar-tools">Disabled Backdrop</h1>-->
                    <!--</md-toolbar>-->
                    <!--<md-content layout-margin>-->
                        <!--<p>-->
                            <!--This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.-->
                        <!--</p>-->
                        <!--<md-button ng-click="toggleLeft()" class="md-accent">-->
                            <!--Close this Sidenav-->
                        <!--</md-button>-->
                    <!--</md-content>-->
                <!--</md-sidenav>-->
                <!--<md-content flex layout-padding>-->
                    <!--<div layout="column" layout-align="top center">-->
                        <!--<p>-->
                            <!--Developers can also disable the backdrop of the sidenav.<br/>-->
                            <!--This will disable the functionality to click outside to close the sidenav.-->
                        <!--</p>-->
                        <!--<div>-->
                            <!--<md-button ng-click="toggleLeft()" class="md-raised">-->
                                <!--Toggle Sidenav-->
                            <!--</md-button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</md-content>-->
            <!--</section>-->
            <!--</div>-->
            <!--<div>-->
                <!--<md-sidenav-->
                        <!--class="md-sidenav-left"-->
                        <!--md-component-id="left"-->
                        <!--md-is-locked-open=""-->
                        <!--md-whiteframe="4">-->
                    <!--<md-toolbar class="md-theme-indigo">-->
                        <!--<h1 class="md-toolbar-tools">Sidenav Left</h1>-->
                    <!--</md-toolbar>-->
                    <!--<md-content layout-padding >-->
                        <!--<ul class="column center center side-nav right-aligned" layout="column"       layout-align="center start">-->
                            <!--<li class="">-->
                                <!--<md-tooltip md-direction="botom" md-autohide="false"> teste </md-tooltip>-->
                                <!--<a href="">-->
                                    <!--<i class="material-icons"></i>-->
                                <!--</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                        <!--<md-button ng-click="close()" class="md-primary" hide-gt-md>-->
                            <!--Close Sidenav Left-->
                        <!--</md-button>-->
                        <!--<p hide show-gt-md>-->
                            <!--This sidenav is locked open on your device. To go back to the default behavior,-->
                            <!--narrow your display.-->
                        <!--</p>-->
                    <!--</md-content>-->
                <!--</md-sidenav>-->
            <!--</div>-->
        <!--</div>-->
        <div flex >
            <!--<md-content flex layout-margin>-->
            <div ui-view="main"></div>
            <div ui-view="mainFade" class="fade"></div>
            <div ui-view="mainFadeInLeftBig" class="fadeLeftBig"></div>
            <div ui-view="mainFadeInRightBig" class="fadeRightBig"></div>
            <div ui-view="mainBounce" class="bounce" style="padding-left: 40px;"></div>
            <div ui-view="mainZoom" class="zoom" style="padding-left: 40px;"></div>
            <div ui-view="main2"></div>
            <!--</md-content>-->
        </div>
    </div>
    <!--</md-content>-->
    <!--<div layout="row" style="min-height: 100%;">-->
        <!--<div layout="column" style="min-height: 100%;">-->
            <!--<div flex ui-view style="min-height: 100%;"></div>-->
        <!--</div>-->
    <!--</div>-->
</main>
<footer class="page-footer" style="margin-top: 0px; padding-top: 0px; z-index: 2;">
    <div ui-view="footer" ></div>
    <div ng-include="'module/scrum/client/view/footer.ng.html'"></div>
    <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
    <script type="text/javascript" src="angular-recaptcha.js"></script>
</footer>
</body>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-77341461-1', 'auto');
    ga('send', 'pageview');

</script>