body {
    /*background-color: rgba(0,0,0,.04);*/
}

/*md-toolbar:not(.md-menu-toolbar){*/
    /*background-color: #212121;*/
/*}*/

/*.md-title, */
a{
    /*color: #FFFFFF;*/
    /*text-decoration: none;*/
 }

 md-tab-item{
     max-width:none !important;
 }
.tabsdemoDynamicHeight md-content {
    background-color: transparent !important;
}
.tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1;
}
.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
    background: white;
}
.tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0;
}


