<div ng-controller="BacklogCtrl as vm" flex>
    <!--{{vm.teste}} 1-->
    <!--{{teste2}} 2-->
    <!--{{vm.sprintCurrent}} 3-->
    <!--{{sprint}} 4-->
    <!--{{notesBackLog}} 4-->
    <!--<div flex-sm>-->
    <!--<div>-->
    <!--<div layout-padding layout="row" layout-align="center">-->
    <!--<md-input-container style="width:50%;margin-right:10px;">-->
    <!--<label>Search</label>-->
    <!--<md-select ng-model="orderProperty" placeholder="Project" >-->
    <!--&lt;!&ndash;<md-option value="-1">Decrescente</md-option>&ndash;&gt;-->
    <!--</md-select>-->
    <!--</md-input-container>-->
    <!--<md-select ng-model="orderProperty" style="width:50%;margin-right:10px;" placeholder="Sprint" >-->
    <!--<md-option value="1">Crescente</md-option>-->
    <!--</md-select>-->
    <!--<md-button class="md-fab" aria-label="New Note" ng-click="modalSave($event)">-->
    <!--<md-icon md-svg-icon="content:ic_add_24px" aria-label="New"></md-icon>-->
    <!--</md-button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <md-content layout-padding>
        <!--<md-content>-->
        <table id="scrumy-board" cellspacing="0" class="live scrum" style="min-height: 300px;">
            <tbody id="scrumy-board-body">
            <tr id="scrumy-board-header" style="position: relative;">
                <th id="header-backLog" class="header">
                    <span>Backlog</span>
                    <a href="#" class="select-all" style="display: none">Select All</a>
                </th>
                <th id="header-sprintAnterior" class="header">
                    <span>Previous sprint</span> <br>
                    <!--10/10/2010 - 10/10/2010 <br>-->
                    ({{sprintPrevious.number}}) {{sprintPrevious.dateStartTreated}} - {{sprintPrevious.dateEndTreated}}<br>
                    (<span class="sprintHorasGastas">0hs</span>/ hs )
                    <a href="#" class="select-all" style="display: none">Select All</a>
                </th>
                <th id="header-sprintAtual" class="header">
                    <span>Current sprint</span> <br>
                    ({{sprint.number}}) {{sprint.dateStartTreated}} - {{sprint.dateEndTreated}}<br>
                    (<span class="sprintHorasGastas">{{sprint.timeTotalNotes}}h</span>/ {{sprint.timeTotal}}h )
                    <a href="#" class="select-all" style="display: none">Select All</a>
                </th>
                <th id="header-proximaSprint" class="header">
                    <span>Next sprint</span> <br>
                    <!--10/10/2010 - 10/10/2010 <br>-->
                    ({{sprintNext.number}}) {{sprintNext.dateStartTreated}} - {{sprintNext.dateEndTreated}}<br>
                    (<span class="sprintHorasGastas">{{sprintNext.timeTotalNotes}}hs</span>/ {{sprintNext.timeTotal}}hs )
                    <a href="#" class="select-all" style="display: none">Select All</a>
                </th>
            </tr>
            <tr class="backlogContainer">
                <td id="backLog" class="linha status_1 containerSprint row" data-sprintId="" sprinthorasgastas="" sprinthoraslimite="">
                    <!--<div class="container col l4 s12 row">-->
                    <div class="col containerNote" ng-repeat="backLogNote in vm.notesBackLog" data-noteId="{{backLogNote._id}}">
                        <div class="card hoverable" style="background-color: {{backLogNote.color}}; width: 200px; height: 140px;  line-height: 1.2;">
                            <div class="card-content white-text note">
                                <md-button ng-if="backLogNote.time" class="md-fab md-mini hoverable alertNote" aria-label="Time">
                                    {{backLogNote.time}}
                                </md-button>
                                <span class="card-title activator text-darken-4 note-notHandle">{{backLogNote.owner.name}}<i class="material-icons right">more_vert</i></span>
                                <p>{{backLogNote.description}}</p>
                                <p></p>
                            </div>
                            <div class="card-reveal">
                                <!--<span class="card-title grey-text text-darken-4">{{backLogNote.story.name}}<i class="material-icons right">close</i></span>-->
                                    <span class="card-title grey-text text-darken-4">
                                        <i class="note-notHandle material-icons right">close</i>
                                        <a href="#" ng-click="modalStorySave($event, backLogNote.story._id)" title="Add story" class="note-notHandle btn-floating green hoverable">
                                            <i class="material-icons">content_paste</i>
                                        </a>
                                        <a href="#" ng-click="modalNoteSave($event, backLogNote._id)" title="Add note" class="note-notHandle btn-floating amber accent-4 hoverable">
                                            <i class="material-icons">mode_edit</i>
                                        </a>
                                    </span>
                                <p>{{backLogNote.story.name}}</p>
                                <p>{{backLogNote.description}}</p>
                            </div>
                            <!--<div class="card-action center">-->
                            <!--&lt;!&ndash;<a href="#">{{_ 'Delete'}}</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="#projectSave" data-id="{{_id}}" class="modal-trigger">{{_ 'Edit'}}</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="/project/save/{{_id}}">{{_ 'Edit'}}</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="/scrum/kanban">{{_ 'Enter'}}</a>&ndash;&gt;-->
                            <!--<a href="#" ng-click="remove(project._id)">Delete</a>-->
                            <!--<a href="#" ng-click="modalSave($event, project._id)" >Edit</a>-->
                            <!--&lt;!&ndash;<a href="#" ng-click="redirect('scrum/kanban/project._id')">Enter</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="/scrum/content/{{backLogNote._id}}">Enter</a>&ndash;&gt;-->
                            <!--</div>-->
                        </div>
                    </div>
                <!--<div class="row">-->
                <!--<div class="col s2 m2">-->
                <!--<div class="card-panel teal">-->
                <!--<span class="white-text">-->
                <!--I am a very simple card. I am good at containing small bits of information.-->
                <!--I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.-->
                <!--</span>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="col s2 m2">-->
                <!--<div class="card-panel teal" style="width: 200px; height: 200px;">-->
                <!--<span class="white-text">-->
                <!--I am a very simple card. I am good at containing small bits of information.-->
                <!--I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.-->
                <!--</span>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->

                <!--<div sprintpostitid="2" sprintpostithoras="2" class="task hoverable" style="background-color: {{backLogNote.story.color}}" ng-repeat="backLogNote in backLogNotes">-->
                <!--<div class="handle"> {{backLogNote.story.name}} </div>-->
                <!--<div class="title">-->
                <!--&lt;!&ndash;<pre class="title_inner" style="background-color: #f0f0f0; color: #9F9F9F">&ndash;&gt;-->
                <!--<pre class="title_inner">-->


                <!--<b>{{backLogNote.name}}</b>-->

                <!--{{backLogNote.description}}</pre>-->
                <!--</div>-->
                <!--&lt;!&ndash;unassigned&ndash;&gt;-->
                <!--<div class="iconEdit" sprintpostitid="2">-->
                <!--<i class="glyphicon glyphicon-pencil"></i>-->
                <!--</div>-->
                <!--<div class="iconUserOn">-->
                <!--<i class="glyphicon glyphicon-user"></i>-->
                <!--</div>-->
                <!--<div class="iconUser">-->
                <!--<i style="font-size: 20px" class="glyphicon glyphicon-user"></i>-->
                <!--</div>-->
                <!--<div class="user">{{backLogNote.owner.firstName}}</div>-->
                <!--<div class="assignment">-->
                <!--{{backLogNote.time}}-->
                <!--</div>-->
                <!--&lt;!&ndash;<a href="#" class="edit-task" observedactions="click">Change</a>&ndash;&gt;-->
                <!--&lt;!&ndash;<a href="/gardner_mec/destroy_task?id=2298313" class="delete-task" observedactions="click">Delete</a>&ndash;&gt;-->


                <!--<img class="overflow_indicator" src="/images/overflow_indicator.gif">-->
                <!--</div>-->
            </td>
                <td id="sprintPrevious" class="linha status_3 containerSprint row" data-sprintId="{{sprintPrevious._id}}" sprinthorasgastas="0" sprinthoras="">
                    <div class="col containerNote" ng-repeat="backLogNote in vm.notesSprintPrevious" data-noteId="{{backLogNote._id}}">
                        <div class="card hoverable" style="background-color: {{backLogNote.color}}; width: 200px; height: 140px;  line-height: 1.2;">
                            <div class="card-content white-text note">
                                <md-button ng-if="backLogNote.time" class="md-fab md-mini hoverable alertNote" aria-label="Time">
                                    {{backLogNote.time}}
                                </md-button>
                                <span class="card-title activator text-darken-4 note-notHandle">{{backLogNote.owner.name}}<i class="material-icons right">more_vert</i></span>
                                <p>{{backLogNote.description}}</p>
                                <p></p>
                            </div>
                            <div class="card-reveal">
                                <!--<span class="card-title grey-text text-darken-4">{{backLogNote.story.name}}<i class="material-icons right">close</i></span>-->
                                    <span class="card-title grey-text text-darken-4">
                                        <i class="note-notHandle material-icons right">close</i>
                                        <a href="#" ng-click="modalStorySave($event, backLogNote.story._id)" title="Add story" class="note-notHandle btn-floating green hoverable">
                                            <i class="material-icons">content_paste</i>
                                        </a>
                                        <a href="#" ng-click="modalNoteSave($event, backLogNote._id)" title="Add note" class="note-notHandle btn-floating amber accent-4 hoverable">
                                            <i class="material-icons">mode_edit</i>
                                        </a>
                                    </span>
                                <p>{{backLogNote.story.name}}</p>
                                <p>{{backLogNote.description}}</p>
                            </div>
                            <!--<div class="card-action center">-->
                            <!--&lt;!&ndash;<a href="#">{{_ 'Delete'}}</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="#projectSave" data-id="{{_id}}" class="modal-trigger">{{_ 'Edit'}}</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="/project/save/{{_id}}">{{_ 'Edit'}}</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="/scrum/kanban">{{_ 'Enter'}}</a>&ndash;&gt;-->
                            <!--<a href="#" ng-click="remove(project._id)">Delete</a>-->
                            <!--<a href="#" ng-click="modalSave($event, project._id)" >Edit</a>-->
                            <!--&lt;!&ndash;<a href="#" ng-click="redirect('scrum/kanban/project._id')">Enter</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="/scrum/content/{{backLogNote._id}}">Enter</a>&ndash;&gt;-->
                            <!--</div>-->
                        </div>
                    </div>
                </td>
                <td id="sprintCurrent" class="linha status_5 containerSprint  row" data-sprintId="{{sprintCurrent._id}}" sprinthorasgastas="0" sprinthoras="">
                    <div class="col containerNote" ng-repeat="backLogNote in vm.notesSprintCurrent" data-noteId="{{backLogNote._id}}">
                        <div class="card hoverable" style="background-color: {{backLogNote.color}}; width: 200px; height: 140px;  line-height: 1.2;">
                            <div class="card-content white-text note">
                                <md-button ng-if="backLogNote.time" class="md-fab md-mini hoverable alertNote" aria-label="Time">
                                    {{backLogNote.time}}
                                </md-button>
                                <span class="card-title activator text-darken-4 note-notHandle">{{backLogNote.owner.name}}<i class="material-icons right">more_vert</i></span>
                                <p>{{backLogNote.description}}</p>
                                <p></p>
                            </div>
                            <div class="card-reveal">
                                <!--<span class="card-title grey-text text-darken-4">{{backLogNote.story.name}}<i class="material-icons right">close</i></span>-->
                                    <span class="card-title grey-text text-darken-4">
                                        <i class="note-notHandle material-icons right">close</i>
                                        <a href="#" ng-click="modalStorySave($event, backLogNote.story._id)" title="Add story" class="note-notHandle btn-floating green hoverable">
                                            <i class="material-icons">content_paste</i>
                                        </a>
                                        <a href="#" ng-click="modalNoteSave($event, backLogNote._id)" title="Add note" class="note-notHandle btn-floating amber accent-4 hoverable">
                                            <i class="material-icons">mode_edit</i>
                                        </a>
                                    </span>
                                <p>{{backLogNote.story.name}}</p>
                                <p>{{backLogNote.description}}</p>
                            </div>
                            <!--<div class="card-action center">-->
                            <!--&lt;!&ndash;<a href="#">{{_ 'Delete'}}</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="#projectSave" data-id="{{_id}}" class="modal-trigger">{{_ 'Edit'}}</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="/project/save/{{_id}}">{{_ 'Edit'}}</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="/scrum/kanban">{{_ 'Enter'}}</a>&ndash;&gt;-->
                            <!--<a href="#" ng-click="remove(project._id)">Delete</a>-->
                            <!--<a href="#" ng-click="modalSave($event, project._id)" >Edit</a>-->
                            <!--&lt;!&ndash;<a href="#" ng-click="redirect('scrum/kanban/project._id')">Enter</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="/scrum/content/{{backLogNote._id}}">Enter</a>&ndash;&gt;-->
                            <!--</div>-->
                        </div>
                    </div>
                </td>
                <td id="sprintNext" class="linha status_2 containerSprint row" data-sprintId="{{sprintNext._id}}" sprinthorasgastas="6" sprinthoras="">
                    <div class="col containerNote" ng-repeat="backLogNote in vm.notesSprintNext" data-noteId="{{backLogNote._id}}">
                        <div class="card hoverable" style="background-color: {{backLogNote.color}}; width: 200px; height: 140px; line-height: 1.2;">
                            <div class="card-content white-text note">
                                <md-button ng-if="backLogNote.time" class="md-fab md-mini hoverable alertNote" aria-label="Time">
                                    {{backLogNote.time}}
                                </md-button>
                                <span class="card-title activator text-darken-4 note-notHandle">{{backLogNote.owner.name}}<i class="material-icons right">more_vert</i></span>
                                <p>{{backLogNote.description}}</p>
                                <p></p>
                            </div>
                            <div class="card-reveal">
                                <!--<span class="card-title grey-text text-darken-4">{{backLogNote.story.name}}<i class="material-icons right">close</i></span>-->
                                    <span class="card-title grey-text text-darken-4">
                                        <i class="note-notHandle material-icons right">close</i>
                                        <a href="#" ng-click="modalStorySave($event, backLogNote.story._id)" title="Add story" class="note-notHandle btn-floating green hoverable">
                                            <i class="material-icons">content_paste</i>
                                        </a>
                                        <a href="#" ng-click="modalNoteSave($event, backLogNote._id)" title="Add note" class="note-notHandle btn-floating amber accent-4 hoverable">
                                            <i class="material-icons">mode_edit</i>
                                        </a>
                                    </span>
                                <p>{{backLogNote.story.name}}</p>
                                <p>{{backLogNote.description}}</p>
                            </div>
                            <!--<div class="card-action center">-->
                            <!--&lt;!&ndash;<a href="#">{{_ 'Delete'}}</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="#projectSave" data-id="{{_id}}" class="modal-trigger">{{_ 'Edit'}}</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="/project/save/{{_id}}">{{_ 'Edit'}}</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="/scrum/kanban">{{_ 'Enter'}}</a>&ndash;&gt;-->
                            <!--<a href="#" ng-click="remove(project._id)">Delete</a>-->
                            <!--<a href="#" ng-click="modalSave($event, project._id)" >Edit</a>-->
                            <!--&lt;!&ndash;<a href="#" ng-click="redirect('scrum/kanban/project._id')">Enter</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="/scrum/content/{{backLogNote._id}}">Enter</a>&ndash;&gt;-->
                            <!--</div>-->
                        </div>
                    </div>
                    <!--<div sprintpostitid="2" sprintpostithoras="2" class="task" style="background-color: #CCC">-->
                    <!--<div class="handle"> subprgdsc </div>-->
                    <!--<div class="title">-->
                    <!--<pre class="title_inner" style="background-color: #f0f0f0; color: #9F9F9F">-->
                    <!--<b>esttitulo</b>-->

                    <!--entdsc                                        </pre>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;unassigned&ndash;&gt;-->
                    <!--<div class="iconEdit" sprintpostitid="2">-->
                    <!--<i class="glyphicon glyphicon-pencil"></i>-->
                    <!--</div>-->
                    <!--<div class="iconUserOn">-->
                    <!--<i class="glyphicon glyphicon-user"></i>-->
                    <!--</div>-->
                    <!--<div class="iconUser">-->
                    <!--<i style="font-size: 20px" class="glyphicon glyphicon-user"></i>-->
                    <!--</div>-->
                    <!--<div class="user">Ruy</div>-->
                    <!--<div class="assignment">-->
                    <!--2hs-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<a href="#" class="edit-task" observedactions="click">Change</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href="/gardner_mec/destroy_task?id=2298313" class="delete-task" observedactions="click">Delete</a>&ndash;&gt;-->


                    <!--<img class="overflow_indicator" src="/images/overflow_indicator.gif">-->
                    <!--</div>-->

                    <!--<div sprintpostitid="2" sprintpostithoras="2" class="task" style="background-color: red">-->
                    <!--<div class="handle"> subprgdsc </div>-->
                    <!--<div class="title">-->
                    <!--<pre class="title_inner" style="">-->
                    <!--<b>esttitulo</b>-->

                    <!--entdsc                                        </pre>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;unassigned&ndash;&gt;-->
                    <!--<div class="iconEdit" sprintpostitid="2">-->
                    <!--<i class="glyphicon glyphicon-pencil"></i>-->
                    <!--</div>-->
                    <!--<div class="iconUserOn">-->
                    <!--<i class="glyphicon glyphicon-user"></i>-->
                    <!--</div>-->
                    <!--<div class="iconUser">-->
                    <!--<i style="font-size: 20px" class="glyphicon glyphicon-user"></i>-->
                    <!--</div>-->
                    <!--<div class="user">João</div>-->
                    <!--<div class="assignment">-->
                    <!--2hs-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<a href="#" class="edit-task" observedactions="click">Change</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href="/gardner_mec/destroy_task?id=2298313" class="delete-task" observedactions="click">Delete</a>&ndash;&gt;-->


                    <!--<img class="overflow_indicator" src="/images/overflow_indicator.gif">-->
                    <!--</div>-->

                    <!--<div sprintpostitid="2" sprintpostithoras="2" class="task" style="background-color: orange">-->
                    <!--<div class="handle"> subprgdsc </div>-->
                    <!--<div class="title">-->
                    <!--<pre class="title_inner" style="">-->
                    <!--<b>esttitulo</b>-->

                    <!--entdsc                                        </pre>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;unassigned&ndash;&gt;-->
                    <!--<div class="iconEdit" sprintpostitid="2">-->
                    <!--<i class="glyphicon glyphicon-pencil"></i>-->
                    <!--</div>-->
                    <!--<div class="iconUserOn">-->
                    <!--<i class="glyphicon glyphicon-user"></i>-->
                    <!--</div>-->
                    <!--<div class="iconUser">-->
                    <!--<i style="font-size: 20px" class="glyphicon glyphicon-user"></i>-->
                    <!--</div>-->
                    <!--<div class="user">Ruy</div>-->
                    <!--<div class="assignment">-->
                    <!--2hs-->
                    <!--</div>-->
                    <!--<a href="#" class="edit-task" observedactions="click">Change</a>-->
                    <!--<a href="/gardner_mec/destroy_task?id=2298313" class="delete-task" observedactions="click">Delete</a>-->
                    <!--<img class="overflow_indicator" src="/images/overflow_indicator.gif">-->
                    <!--</div>-->
                </td>
            </tr>
            </tbody>
        </table>
        <!--<md-list>-->
        <!--<md-list-item class="md-3-line" ng-repeat="team in teams">-->
        <!--<div class="md-list-item-text" layout="column" layout-align="center center">-->
        <!--<h3>{{team.name}}</h3>-->
        <!--&lt;!&ndash;<h4>{{item.who}}</h4>&ndash;&gt;-->
        <!--<p>{{team.description}}</p>-->
        <!--</div>-->
        <!--<div class="md-list-item-text" layout="row" layout-align="center center">-->
        <!--<md-button class="md-fab" aria-label="Edit" ng-click="modalSlave($event)">-->
        <!--<md-icon md-svg-icon="content:ic_create_24px" aria-label="Edit"></md-icon>-->
        <!--</md-button>-->
        <!--<md-button class="md-fab" aria-label="Remove" ng-click="delete(team._id)">-->
        <!--<md-icon md-svg-icon="content:ic_clear_24px" aria-label="Remove"></md-icon>-->
        <!--</md-button>-->
        <!--</div>-->
        <!--<md-divider ng-if="!$last"></md-divider>-->
        <!--</md-list-item>-->
        <!--</md-list>-->
        <!--<table class="table table-hover table-mc-light-blue" flex>-->
        <!--<thead>-->
        <!--<tr>-->
        <!--<th data-field="id">Name</th>-->
        <!--<th data-field="name">Item Name</th>-->
        <!--<th data-field="price">Item Price</th>-->
        <!--</tr>-->
        <!--</thead>-->

        <!--<tbody>-->
        <!--<tr>-->
        <!--<td>Alvin</td>-->
        <!--<td>Eclair</td>-->
        <!--<td>$0.87</td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>Alan</td>-->
        <!--<td>Jellybean</td>-->
        <!--<td>$3.76</td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>Jonathan</td>-->
        <!--<td>Lollipop</td>-->
        <!--<td>$7.00</td>-->
        <!--</tr>-->
        <!--</tbody>-->
        <!--</table>-->
    </md-content>

    <!--<h1 class="md-display-2">Team</h1> {{test}}-->
    <!--<p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>-->

</div>
<script>
    $(function() {
        setTimeout(function(){
            $( ".containerSprint" ).sortable({
                connectWith: ".containerSprint",
                items: ".containerNote",
                cancel: ".note-notHandle",
                beforeStop: function(event, ui) {
                    sprint = $(ui.item.context).closest('td');
                    sprintId = sprint.attr('data-sprintId');
                    note = $(ui.item.context);
                    noteId = $(note).attr('data-noteId');



                    if (!sprintId && sprint.attr('id') != 'backLog') {
                        $(event.target).sortable('cancel');
                        Materialize.toast('Nonexistent Sprint!', 2000);
                    } else {
                        form = {};
                        form.sprintId = sprintId;
                        form.noteId = noteId;
                        Meteor.call('noteChangeSprint', form, function(error, result){
                            if (error) {
                                    console.log(error);
                            } else {
    //                                console.log(statusId);
    //                                console.log(noteId);
                            }
                        });
//                        console.log(event);
//                        console.log($(event.target));
//                        console.log(sprintId);
//                        console.log(noteId);
                    }
//                    return false;
//
//                        var arrStatus = $(ui.item.context).parent('td').attr('class').split(' ');
//                        var arrStatus = arrStatus[0].split('_');
//                        var idStatus = arrStatus[1];
//
//                        var arrPostit = ui.item.context.id.split('_')
//                        var idPostit = arrPostit[1];
//                                                                console.log('Postit: ' + idPostit);
//                                                                console.log('Status: ' + idStatus);
//                        dataPost = {controller : 'kanban', action: 'tramitSprint', idpostit: idPostit, idstatus: idStatus}
//                        $.post(window.location, dataPost, function(result) {
//                            console.log(result);
//                        });
                }
            }).disableSelection();
        }, 300);

//        $( "ul.dropfalse" ).sortable({
//            connectWith: "ul",
//            dropOnEmpty: false
//        });

//        $( "#sortable1, #sortable2, #sortable3" ).disableSelection();
    });
</script>