<style>
    @keyframes width-pulse {
        0% {
            stroke-width: 6px
        }
        50% {
            stroke-width: 14px;
        }
        100% {
            stroke-width: 6px;
        }
    }
    @keyframes dashoffset-seven {
        0% {
            stroke-dashoffset: 7px;
        }
        100% {
            stroke-dashoffset: 0px;
        }
    }
    @keyframes dasharray-craziness {
        0% {
            stroke-dasharray: 7px 2px;
        }
        80% {
            stroke-dasharray: 7px 100px;
            stroke-width: 10px
        }
        100% {
            stroke-dasharray: 7px 2px;
        }
    }
    /*.ct-chart .ct-label.ct-vertical,*/
    /*.ct-chart .ct-label.ct-horizontal {*/
    /*color: rgba(255, 255, 255, 0.5);*/
    /*}*/
    /*.ct-chart .ct-grid.ct-vertical,*/
    /*.ct-chart .ct-grid.ct-horizontal {*/
    /*stroke: rgba(255, 255, 255, 0.1);*/
    /*stroke-dasharray: 2px;*/
    /*shape-rendering: crispEdges;*/
    /*}*/
    .ct-chart .ct-series.ct-series-a .ct-line {
        stroke: #FF6B6B;
        stroke-width: 10px;
        stroke-linecap: round;
        animation: width-pulse 2s infinite;
    }
    .ct-chart .ct-series.ct-series-b .ct-line {
        /*stroke: #4ECDC4;*/
        stroke: rgba(240, 91, 79, 0.7);
        stroke-width: 2px;
        stroke-dasharray: 5px 2px;
        animation: dashoffset-seven 200ms infinite linear;
    }
    .ct-chart .ct-series.ct-series-c .ct-line {
        /*stroke: #C7F464;*/
        stroke: rgba(244, 198, 61, 0.73);
        stroke-width: 3px;
        stroke-linecap: round;
        stroke-dasharray: 30px 5px;
        animation: dasharray-craziness 10s infinite linear;
    }
</style>
<div ng-controller="BurndownCtrl as vm" flex>
    <div ng-include="'module/scrum/client/view/product-toolbar.ng.html'"></div>
    <div class="ct-chart ct-perfect-fourth" style="width: 1000px;"></div>
    <div ng-include="'module/scrum/client/view/product-fab.ng.html'"></div>
    <script>
    // For the sake of the example we update the chart every time it's created with a delay of 10 seconds
    //            chart.on('created', function() {
    //                if(window.__exampleAnimateTimeout) {
    //                    clearTimeout(window.__exampleAnimateTimeout);
    //                    window.__exampleAnimateTimeout = null;
    //                }
    //                window.__exampleAnimateTimeout = setTimeout(chart.update.bind(chart), 22000);
    //            });

    //            $('body').on('click', 'md-tab-item:first', function(){
    //                alert('teste');
    //                chart.update.bind(chart);
    //            });

</script>
</div>