<div ng-controller="TeamCtrl as vm" flex>
    <md-content layout="row" layout-align="center center">
        <style>
            @keyframes width-pulse {
                0% {
                    stroke-width: 6px
                }
                50% {
                    stroke-width: 14px;
                }
                100% {
                    stroke-width: 6px;
                }
            }
            @keyframes dashoffset-seven {
                0% {
                    stroke-dashoffset: 7px;
                }
                100% {
                    stroke-dashoffset: 0px;
                }
            }
            @keyframes dasharray-craziness {
                0% {
                    stroke-dasharray: 7px 2px;
                }
                80% {
                    stroke-dasharray: 7px 100px;
                    stroke-width: 10px
                }
                100% {
                    stroke-dasharray: 7px 2px;
                }
            }
            /*.ct-chart .ct-label.ct-vertical,*/
            /*.ct-chart .ct-label.ct-horizontal {*/
                /*color: rgba(255, 255, 255, 0.5);*/
            /*}*/
            /*.ct-chart .ct-grid.ct-vertical,*/
            /*.ct-chart .ct-grid.ct-horizontal {*/
                /*stroke: rgba(255, 255, 255, 0.1);*/
                /*stroke-dasharray: 2px;*/
                /*shape-rendering: crispEdges;*/
            /*}*/
            .ct-chart .ct-series.ct-series-a .ct-line {
                stroke: #FF6B6B;
                stroke-width: 10px;
                stroke-linecap: round;
                animation: width-pulse 2s infinite;
            }
            .ct-chart .ct-series.ct-series-b .ct-line {
                /*stroke: #4ECDC4;*/
                stroke: rgba(240, 91, 79, 0.7);
                stroke-width: 2px;
                stroke-dasharray: 5px 2px;
                animation: dashoffset-seven 200ms infinite linear;
            }
            .ct-chart .ct-series.ct-series-c .ct-line {
                /*stroke: #C7F464;*/
                stroke: rgba(244, 198, 61, 0.73);
                stroke-width: 3px;
                stroke-linecap: round;
                stroke-dasharray: 30px 5px;
                animation: dasharray-craziness 10s infinite linear;
            }
        </style>
        <div class="ct-chart ct-perfect-fourth" style="width: 800px;"></div>
        Em desenvolvimento
        <script>
            var chart = new Chartist.Line('.ct-chart', {
                labels: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
                series: [
                    [12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0],
                    [12,  12, 11, 8, 7, 8, 6, 4, 2, 4,  3, 1, 0],
                    [12,  10, 9, 10, 11, 5, 6, 7, 3, 2,  4, 1, 0],
                ],
//                onlyInteger: true,
            }, {
                low: 0,
                onlyInteger: true,
                showArea: true,
//                lineSmooth: Chartist.Interpolation.none({
//                    fillHoles: true
//                })
            });

            // Let's put a sequence number aside so we can use it in the event callbacks
            var seq = 0,
                    delays = 80,
                    durations = 500;

            // Once the chart is fully created we reset the sequence
            chart.on('created', function() {
                seq = 0;
            });

            // On each drawn element by Chartist we use the Chartist.Svg API to trigger SMIL animations
            chart.on('draw', function(data) {
                seq++;

                if(data.type === 'line') {
                    // If the drawn element is a line we do a simple opacity fade in. This could also be achieved using CSS3 animations.
                    data.element.animate({
                        opacity: {
                            // The delay when we like to start the animation
                            begin: seq * delays + 1000,
                            // Duration of the animation
                            dur: durations,
                            // The value where the animation should start
                            from: 0,
                            // The value where it should end
                            to: 1
                        }
                    });
                } else if(data.type === 'label' && data.axis === 'x') {
                    data.element.animate({
                        y: {
                            begin: seq * delays,
                            dur: durations,
                            from: data.y + 100,
                            to: data.y,
                            // We can specify an easing function from Chartist.Svg.Easing
                            easing: 'easeOutQuart'
                        }
                    });
                } else if(data.type === 'label' && data.axis === 'y') {
                    data.element.animate({
                        x: {
                            begin: seq * delays,
                            dur: durations,
                            from: data.x - 100,
                            to: data.x,
                            easing: 'easeOutQuart'
                        }
                    });
                } else if(data.type === 'point') {
                    data.element.animate({
                        x1: {
                            begin: seq * delays,
                            dur: durations,
                            from: data.x - 10,
                            to: data.x,
                            easing: 'easeOutQuart'
                        },
                        x2: {
                            begin: seq * delays,
                            dur: durations,
                            from: data.x - 10,
                            to: data.x,
                            easing: 'easeOutQuart'
                        },
                        opacity: {
                            begin: seq * delays,
                            dur: durations,
                            from: 0,
                            to: 1,
                            easing: 'easeOutQuart'
                        }
                    });
                } else if(data.type === 'grid') {
                    // Using data.axis we get x or y which we can use to construct our animation definition objects
                    var pos1Animation = {
                        begin: seq * delays,
                        dur: durations,
                        from: data[data.axis.units.pos + '1'] - 30,
                        to: data[data.axis.units.pos + '1'],
                        easing: 'easeOutQuart'
                    };

                    var pos2Animation = {
                        begin: seq * delays,
                        dur: durations,
                        from: data[data.axis.units.pos + '2'] - 100,
                        to: data[data.axis.units.pos + '2'],
                        easing: 'easeOutQuart'
                    };

                    var animations = {};
                    animations[data.axis.units.pos + '1'] = pos1Animation;
                    animations[data.axis.units.pos + '2'] = pos2Animation;
                    animations['opacity'] = {
                        begin: seq * delays,
                        dur: durations,
                        from: 0,
                        to: 1,
                        easing: 'easeOutQuart'
                    };

                    data.element.animate(animations);
                }
            });

            // For the sake of the example we update the chart every time it's created with a delay of 10 seconds
            chart.on('created', function() {
                if(window.__exampleAnimateTimeout) {
                    clearTimeout(window.__exampleAnimateTimeout);
                    window.__exampleAnimateTimeout = null;
                }
                window.__exampleAnimateTimeout = setTimeout(chart.update.bind(chart), 22000);
            });

//            $('body').on('click', 'md-tab-item:first', function(){
//                alert('teste');
//                chart.update.bind(chart);
//            });

        </script>
        <!--<md-list>-->
            <!--<md-list-item class="md-3-line" ng-repeat="team in vm.teams">-->
                <!--<div class="md-list-item-text" layout="column" layout-align="center center">-->
                    <!--<h3>{{team.name}}</h3>-->
                    <!--&lt;!&ndash;<h4>{{item.who}}</h4>&ndash;&gt;-->
                    <!--<p>{{team.description}}</p>-->
                <!--</div>-->
                <!--<div class="md-list-item-text" layout="row" layout-align="center center">-->
                    <!--<md-button class="md-fab md-mini hoverable" aria-label="Edit" ng-click="modalSave($event, team._id)">-->
                        <!--<md-icon md-svg-icon="content:ic_create_24px" aria-label="Edit"></md-icon>-->
                    <!--</md-button>-->
                    <!--<md-button class="md-fab md-mini hoverable" aria-label="Remove" ng-click="remove(team._id)">-->
                        <!--<md-icon md-svg-icon="content:ic_clear_24px" aria-label="Remove"></md-icon>-->
                    <!--</md-button>-->
                <!--</div>-->
                <!--<md-divider ng-if="!$last"></md-divider>-->
            <!--</md-list-item>-->
        <!--</md-list>-->
        <!--<table class="table table-hover table-mc-light-blue" flex>-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th data-field="id">Name</th>-->
                <!--<th data-field="name">Item Name</th>-->
                <!--<th data-field="price">Item Price</th>-->
            <!--</tr>-->
            <!--</thead>-->

            <!--<tbody>-->
            <!--<tr>-->
                <!--<td>Alvin</td>-->
                <!--<td>Eclair</td>-->
                <!--<td>$0.87</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Alan</td>-->
                <!--<td>Jellybean</td>-->
                <!--<td>$3.76</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Jonathan</td>-->
                <!--<td>Lollipop</td>-->
                <!--<td>$7.00</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    </md-content>

    <!--<h1 class="md-display-2">Team</h1> {{test}}-->
    <!--<p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>-->
</div>