<!--<div ng-controller="FooterCtrl" class="{{themeMaterialize}}  brown darken-4" style="min-height: 57px;" >-->
<div ng-controller="FooterCtrl" class="brown darken-4" style="min-height: 57px;" >
    <div class="footer-copyright">
        <div class="container animated fadeInUp"  style="min-height: 64px;">
            j3scrum {{ 'in alpha' | translate}} © 2017 {{ 'made by' | translate}} <a class="orange-text text-lighten-3" href="http://j3rotherhood.com">j3rotherhood</a>
        </div>
    </div>
</div>
