<div ng-controller="HeaderCtrl as vm" flex>
    <div class="navbar-fixed">
        <nav class="brown darken-3" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="#" class="brand-logo">{{nameModule}}</a>
                <!--<a id="logo-container" href="#" >05/01/2016 - 15/01/2016 (12)</a>-->
                <!--<ul class="center hide-on-med-and-down">-->
                    <!--<a class="center hide-on-med-and-down" href="#">05/01/2016 - 15/01/2016 (12)</a>-->
                <!--</ul>-->
                <ul class="right hide-on-med-and-down">
                    <div ng-show="$auth.currentUser">
                        <li><a href="/scrum/project"><i class="material-icons">business_center</i></a></li>
                        <!--<li><a href="/scrum/team"><i class="material-icons">group</i></a></li>-->
                        <!--<li><a href="/scrum/team"><i class="material-icons">group_work</i></a></li>-->
                        <!--<li><a href="#" ng-click="toggleContactList()"><i class="material-icons">chat</i></a></li>-->
                        <li><a href="#" ng-click="vm.toggleContactList()"><i class="material-icons">question_answer</i></a></li>
                        <li><a class="dropdown-button" href="#" data-activates="dropdown1"><i class="material-icons">language</i></a></li>
                        <!-- Dropdown Structure -->
                        <ul id="dropdown1" class="dropdown-content">
                            <li><a href="#" onclick="javascript:setUserLanguage('en-US')">English</a></li>
                            <li><a href="#" onclick="javascript:setUserLanguage('pt-BR')">Portuguese</a></li>
                        </ul>
                        <!--<li><a href="#" ng-click="showModulesGrid($event)"><i class="material-icons">settings</i></a></li>-->
                        <li><a href="#" ng-click="vm.showModulesGrid($event)"><i class="material-icons">view_module</i></a></li>
                        <!--<li><a href="/user"><i class="material-icons"><i class="material-icons">person</i></i></a></li>-->
                        <li><a href="/user/logout" class="logout"><i class="material-icons">power_settings_new</i></a></li>
                    </div>
                    <div ng-hide="$auth.currentUser">
                        <li><a href="/"><i class="material-icons">home</i></a></li>
                        <!--<li><a class="modal-trigger" href="#modalLogin"><i class="material-icons">person</i></a></li>-->
                        <!--<li><i class="material-icons left">person</i>{{> loginButtons}}</li>-->
                        <li><a href="#" ng-click="vm.modalLogin($event)"><i class="material-icons">person</i></a></li>
                        <li><a class="dropdown-button" href="#" data-activates="dropdown1"><i class="material-icons">language</i></a></li>
                        <!-- Dropdown Structure -->
                        <ul id="dropdown1" class="dropdown-content">
                            <!--<li><a href="#" onclick="javascript:setUserLanguage('en-US')">{{_ 'English'}} </a></li>-->
                            <!--<li><a href="#" onclick="javascript:setUserLanguage('pt-BR')">{{_ 'Portuguese'}}</a></li>-->
                        </ul>
                    </div>
                </ul>
                <ul id="nav-mobile" class="side-nav">
                    <div ng-if="$auth.currentUser">
                            <!--{{#if currentUser}}-->
                        <li><a href="/scrum/project" class="waves-effect waves-orange"><i class="material-icons left">business_center</i>Project</a></li>
                        <li><a href="/scrum/team" class="waves-effect waves-orange"><i class="material-icons left">group_work</i>Team</a></li>
                        <!--<li><a href="#" class="waves-effect waves-orange" ng-click="toggleContactList()"><i class="material-icons">chat</i>Chat</a></li>-->
                        <li><a href="#" class="waves-effect waves-orange dropdown-button" data-activates="dropdown2"><i class="material-icons left">language</i>Language</a></li>
                        <ul id='dropdown2' class='dropdown-content' style="min-width: 200px;">
                            <li><a href="#" onclick="javascript:setUserLanguage('en-US')">English</a></li>
                            <li><a href="#" onclick="javascript:setUserLanguage('pt-BR')">Portuguese</a></li>
                        </ul>
                        <li><a href="#" ng-click="showModulesGrid($event)" class="waves-effect waves-orange"><i class="material-icons left">view_module</i>Options</a></li>
                        <li><a href="#" class="waves-effect waves-orange"><i class="material-icons left">power_settings_new</i>Exit</a></li>
                            <!--{{else}}-->
                    </div>
                    <div ng-if="!$auth.currentUser">l
                        <li><a href="/" class="waves-effect waves-orange"><i class="material-icons left">home</i>Home</a></li>
                        <li><a href="#" ng-click="vm.modalLogin($event, project._id)" class="waves-effect waves-orange"><i class="material-icons left">person</i>Login</a></li>
                        <li><a href="#" class="waves-effect waves-orange dropdown-button" data-activates="dropdown2"><i class="material-icons left">language</i>Language</a></li>
                        <ul id='dropdown2' class='dropdown-content' style="min-width: 200px;">
                            <li><a href="#!" onclick="javascript:setUserLanguage('en-US')">English</a></li>
                            <li><a href="#!" onclick="javascript:setUserLanguage('pt-BR')">Portuguese</a></li>
                        </ul>
                            <!--{{/if}}-->
                        <!--</div>-->
                    </div>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul ng-hide="!$auth.currentUser" class="right hide-on-large-only">
                    <li><a href="#" ng-click="vm.toggleContactList()"><i class="material-icons">chat</i></a></li>
                </ul>
            </div>
        </nav>
    </div>
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="chat">
        <div ng-include="'module/user/client/views/chat.ng.html'"></div>
    </md-sidenav>
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="contact-list">
        <div ng-include="'module/user/client/views/contact-list.ng.html'"></div>
    </md-sidenav>
</div>