<div ng-controller="HeaderCtrl as vm" flex style="height: 100%;">
    <div class="navbar-fixed">
        <nav class="{{themeMaterialize}}" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="#" class="brand-logo animated fadeInDown">{{nameModule}}</a>
                <ul ng-hide="vm.isGuest" class="center center-align hide-on-med-and-down brand-logo">
                    <!--<li ng-if="vm.sprintIdPrev && titleMiddle" >-->
                        <!--<a id="titleMiddlePrev" class="animated fadeInDown" ng-click="vm.goToPrevSprint(vm.sprintIdPrev)"  href="#"><i class="material-icons">keyboard_arrow_left</i></a>-->
                    <!--</li>-->
                    <li ng-if="titleMiddle">
                        <a id="logo-middle" class="animated fadeInDown" ng-click="modalSprintChange($event)"  href="#" style="font-size: 20px;">{{titleMiddle}}</a>
                    </li>
                    <!--<li ng-if="vm.sprintIdNext && titleMiddle">-->
                        <!--<a id="titleMiddleNext" class="animated fadeInDown" ng-click="vm.goToNextSprint(vm.sprintIdNext)"  href="#"><i class="material-icons">keyboard_arrow_right</i></a>-->
                    <!--</li>-->
                </ul>
                <!--<p ng-hide="vm.isGuest" id="logo-middle" class="brand-logo animated fadeInDown row" style="font-size: 20px; text-align: center;width: 100%;line-height: 25px; margin: 0;" layout="row">-->
                    <!--<a ng-click="modalSprintChange($event)"  href="#"><i class="material-icons">keyboard_arrow_left</i></a>-->
                <!--</p>-->
                <!--<p ng-hide="vm.isGuest" id="logo-middle" class="brand-logo animated fadeInDown" style="font-size: 20px; text-align: center;width: 100%;line-height: 25px;">-->
                    <!--<a ng-click="modalSprintChange($event)"  href="#">{{titleMiddle}}</a>-->
                    <!--<a ng-click="modalSprintChange($event)"  href="#"><i class="material-icons">keyboard_arrow_right</i></a>-->
                <!--</p>-->
                <!--<a id="logo-container" href="#" class="brand-logo">-->
                <!--<md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>-->
                <!--</a>-->
                <ul class="right hide-on-med-and-down">
                    <div ng-hide="vm.isGuest">
                        <!--<li><a href="/scrum/project"><i class="material-icons">business_center</i></a></li>-->
                        <!--<li><a href="/scrum/team"><i class="material-icons">group</i></a></li>-->
                        <!--<li><a href="/scrum/team"><i class="material-icons">group_work</i></a></li>-->
                        <!--<li><a href="#" ng-click="toggleContactList()"><i class="material-icons">chat</i></a></li>-->
                        <!--<li><a href="#" data-activates="nav-contact" ng-click="vm.toggleContactList()"><i class="material-icons">question_answer</i></a></li>-->
                        <li  class="animated fadeInDown">
                            <md-tooltip md-direction="botom" md-autohide="false">{{ 'Chat' | translate }}</md-tooltip>
                            <a href="#" ng-click="showNavContactList()" style="height: 60px;">
                                <!--<i class="material-icons">question_answer</i>-->
                                <i class="material-icons">chat</i>
                                <md-button ng-if="vm.totalMessagesNotVisualized" class="md-fab md-mini hoverable alert2"
                                           aria-label="Use Android">
                                    {{vm.totalMessagesNotVisualized}}
                                </md-button>
                                <!--<span class="alert">-->
                                <!--<a class="btn-floating btn-large waves-effect waves-light alert2">{{vm.totalMessagesNotVisualized}}</a>-->
                                <!--<div class="chip" style="background-color: rgb(239,108,0); color: #ffffff">-->
                                <!--{{vm.totalMessagesNotVisualized}}-->
                                <!--</div>-->
                                <!--</span>-->
                            </a>
                        </li>
                        <li class="animated fadeInDown">
                            <md-tooltip md-direction="botom" md-autohide="false">{{ 'Language' | translate }}</md-tooltip>
                            <md-menu md-offset="15 30">
                                <a class="md-icon-button" href="#" ng-click="$mdOpenMenu($event)">
                                    <i class="material-icons">language</i>
                                </a>
                                <md-menu-content width="4">
                                    <md-menu-item>
                                        <md-button ng-click="vm.setUserLanguage('en-US')"> <span md-menu-align-target>{{ 'English' | translate }}</span></md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="vm.setUserLanguage('pt-BR')"> <span md-menu-align-target>{{ 'Portuguese' | translate }}</span></md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </li>
                        <!--<li><a href="#" ng-click="showModulesGrid($event)"><i class="material-icons">settings</i></a></li>-->
                        <li class="animated fadeInDown">
                            <md-tooltip md-direction="botom" md-autohide="false">{{ 'Options' | translate }}</md-tooltip>
                            <a href="#" ng-click="vm.showModulesGrid($event)"><i class="material-icons">view_module</i></a>
                        </li>
                        <!--<li><a href="/user"><i class="material-icons"><i class="material-icons">person</i></i></a></li>-->
                        <li class="animated fadeInDown">
                            <md-tooltip md-direction="botom" md-autohide="true">{{ 'About this page' | translate }}</md-tooltip>
                            <a class="dropdown-button" href="#" ng-click="vm.modalHelpPage($event)"><i
                                    class="material-icons">help_outline</i></a>
                        </li>
                        <li class="animated fadeInDown">
                            <md-tooltip md-direction="botom" md-autohide="false">{{ 'Exit' | translate }}</md-tooltip>
                            <a href="/user/logout" class="logout"><i class="material-icons">power_settings_new</i></a>
                        </li>
                    </div>
                    <div ng-hide="!vm.isGuest">
                        <!--<li>-->
                            <!--<md-tooltip md-direction="botom" md-autohide="false">{{ 'Home' | translate }}</md-tooltip>-->
                            <!--<a href="/"><i class="material-icons">home</i></a>-->
                        <!--</li>-->
                        <!--<li><a class="modal-trigger" href="#modalLogin"><i class="material-icons">person</i></a></li>-->
                        <!--<li><i class="material-icons left">person</i>{{> loginButtons}}</li>-->
                        <!--<li><a href="#" ng-click="vm.modalLogin($event)"><i class="material-icons">person</i></a></li>-->
                        <li>
                            <md-tooltip md-direction="botom" md-autohide="false">{{ 'Language' | translate }}</md-tooltip>
                            <md-menu md-offset="15 30">
                                <a class="md-icon-button" href="#" ng-click="$mdOpenMenu($event)">
                                    <i class="material-icons">language</i>
                                </a>
                                <md-menu-content width="4">
                                    <md-menu-item>
                                        <md-button ng-click="vm.setUserLanguage('en-US')"> <span md-menu-align-target>{{ 'English' | translate }}</span></md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="vm.setUserLanguage('pt-BR')"> <span md-menu-align-target>{{ 'Portuguese' | translate }}</span></md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </li>
                        <!--<li>-->
                            <!--<md-tooltip md-direction="botom" md-autohide="true">{{ 'About this page' | translate }}</md-tooltip>-->
                            <!--<a class="dropdown-button" href="#" ng-click="vm.modalHelpPage($event)"><i-->
                                    <!--class="material-icons">help_outline</i></a>-->
                        <!--</li>-->
                    </div>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse nav-button-close-left"><i
                        class="material-icons">menu</i></a>
                <!--<a href="#" data-activates="nav-mobile" class="button-collapse nav-button-left"><i class="material-icons">menu</i></a>-->
                <!--<a href="#" ng-click="showNavContactList()" class="button-collapse right" ng-hide="!$auth.currentUser">-->
                <!--<i class="material-icons">chat</i>-->
                <!--<span class="alert">{{vm.totalMessagesNotVisualized}}</span>-->
                <!--</a>-->
                <a href="#" ng-click="showNavContactList()" class="button-collapse right" style="height: 60px;"
                   ng-hide="vm.isGuest">
                    <!--<i class="material-icons">question_answer</i>-->
                    <i class="material-icons">chat</i>
                    <md-button ng-if="vm.totalMessagesNotVisualized" class="md-fab md-mini hoverable alert2"
                               aria-label="Use Android">
                        {{vm.totalMessagesNotVisualized}}
                    </md-button>
                    <!--<span class="alert">-->
                    <!--<a class="btn-floating btn-large waves-effect waves-light alert2">{{vm.totalMessagesNotVisualized}}</a>-->
                    <!--<div class="chip" style="background-color: rgb(239,108,0); color: #ffffff">-->
                    <!--{{vm.totalMessagesNotVisualized}}-->
                    <!--</div>-->
                    <!--</span>-->
                </a>
                <a href="#" style="display:none;" data-activates="nav-contact"
                   class="nav-button-contact-left button-collapse nav-button-left right" ng-hide="!$auth.currentUser"><i
                        class="material-icons">question_answer</i></a>
                <a href="#" style="display: none;" data-activates="nav-chat"
                   class="nav-button-chat-left button-collapse nav-button-left right" ng-hide="!$auth.currentUser"><i
                        class="material-icons">question_answer</i></a>

                <a href="#" style="display:none;" data-activates="nav-contact"
                   class="nav-button-contact-right button-collapse nav-button-right right" ng-hide="!$auth.currentUser"><i
                        class="material-icons">question_answer</i></a>
                <a href="#" style="display: none;" data-activates="nav-chat"
                   class="nav-button-chat-right button-collapse nav-button-right right" ng-hide="!$auth.currentUser"><i
                        class="material-icons">question_answer</i></a>
                <!--<ul ng-hide="!$auth.currentUser" class="right hide-on-large-only">-->
                <!--<li><a href="#" ng-click="vm.toggleContactList()"><i class="material-icons">chat</i></a></li>-->
                <!--</ul>-->
            </div>
        </nav>
    </div>
    <!--<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="chat">-->
    <!--<div ng-include="'module/user/client/views/chat.ng.html'"></div>-->
    <!--</md-sidenav>-->
    <!--<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="contact-list">-->
    <!--<div ng-include="'module/user/client/views/contact-list.ng.html'"></div>-->
    <!--</md-sidenav>-->
    <ul id="nav-mobile" class="side-nav">
    <div ng-hide="vm.isGuest">
            <!--{{#if currentUser}}-->
        <md-toolbar class="md-theme-light fixed-top" style="width: 240px;">
            <div class="md-toolbar-tools  valign-wrapper" style="font-size: 16px; min-height: 64px;">
                <!--<md-button ng-click="hideNavContactList()">-->
                <!--<md-icon md-svg-icon="social:ic_people_24px" aria-label="Contact"></md-icon>-->
                <!--Menu-->
                {{titleMiddle}}
                <!--</md-button>-->
                <!--</div>-->
            </div>
        </md-toolbar>
        <li style="height: 63px;"></li>
        <!--<li>-->
            <!--<a href="/scrum/product" class="waves-effect waves-orange"><i-->
                    <!--class="material-icons left">business_center</i>Product</a>-->
        <!--</li>-->
        <li ng-if="vm.sprintId">
            <a href="#" ng-click="modalSprintChange($event)" class="waves-effect waves-orange"><i
                    class="material-icons left">date_range</i>Change sprint</a>
        </li>
        <!--<li ng-if="vm.sprintId">-->
            <!--<a href="/scrum/burndown/{{vm.id}}/{{vm.sprintId}}" class="waves-effect waves-orange"><i-->
                    <!--class="material-icons left">equalizer</i>Burndown</a>-->
        <!--</li>-->
        <!--<li ng-if="vm.sprintId">-->
            <!--<a href="/scrum/kanban/{{vm.id}}/{{vm.sprintId}}" class="waves-effect waves-orange"><i-->
                    <!--class="material-icons left">view_column</i>Kanban</a>-->
        <!--</li>-->
        <!--<li ng-if="vm.sprintId">-->
            <!--<a href="/scrum/backlog/{{vm.id}}/{{vm.sprintId}}" class="waves-effect waves-orange"><i-->
                    <!--class="material-icons left">developer_board</i>Backlog</a>-->
        <!--</li>-->
        <!--<li ng-if="vm.sprintId">-->
            <!--<a href="/scrum/product-team/{{vm.id}}/{{vm.sprintId}}" class="waves-effect waves-orange"><i-->
                    <!--class="material-icons left">group</i>Team</a>-->
        <!--</li>-->
        <!--<li ng-if="vm.sprintId">-->
            <!--<a href="/scrum/story/{{vm.id}}/{{vm.sprintId}}" class="waves-effect waves-orange"><i-->
                    <!--class="material-icons left">content_paste</i>Story</a>-->
        <!--</li>-->
        <!--<li ng-if="vm.sprintId">-->
            <!--<a href="/scrum/status/{{vm.id}}/{{vm.sprintId}}" class="waves-effect waves-orange"><i-->
                    <!--class="material-icons left">style</i>Status</a>-->
        <!--</li>-->
        <!--<li ng-if="vm.sprintId">-->
            <!--<a href="/scrum/sprint/{{vm.id}}/{{vm.sprintId}}" class="waves-effect waves-orange"><i-->
                    <!--class="material-icons left">date_range</i>Sprint</a>-->
        <!--</li>-->


        <!--<li><a href="/scrum/team" class="waves-effect waves-orange"><i class="material-icons left">group_work</i>Team</a></li>-->
        <!--<li><a href="#" class="waves-effect waves-orange" ng-click="toggleContactList()"><i class="material-icons">chat</i>Chat</a></li>-->
        <li><a href="#" class="waves-effect waves-orange dropdown-button" data-activates="dropdown2"><i
                class="material-icons left">language</i>Language</a></li>
        <ul id='dropdown2' class='dropdown-content' style="min-width: 200px;">
            <li><a href="#" onclick="javascript:setUserLanguage('en-US')">English</a></li>
            <li><a href="#" onclick="javascript:setUserLanguage('pt-BR')">Portuguese</a></li>
        </ul>
        <li><a href="#" ng-click="vm.showModulesGrid($event)" class="waves-effect waves-orange"><i
                class="material-icons left">view_module</i>Options</a></li>
        <li><a href="/user/logout" class="waves-effect waves-orange"><i
                class="material-icons left">power_settings_new</i>Exit</a>
        </li>
            <!--{{else}}-->
    </div>
    <div ng-hide="!vm.isGuest">
        <li><a href="/" class="waves-effect waves-orange"><i class="material-icons left">home</i>Home</a></li>
        <li><a href="#" ng-click="vm.modalLogin($event, project._id)" class="waves-effect waves-orange"><i
                class="material-icons left">person</i>Login</a></li>
        <li><a href="#" class="waves-effect waves-orange dropdown-button" data-activates="dropdown2"><i
                class="material-icons left">language</i>Language</a></li>
        <ul id='dropdown2' class='dropdown-content' style="min-width: 200px;">
            <li><a href="#!" onclick="javascript:setUserLanguage('en-US')">English</a></li>
            <li><a href="#!" onclick="javascript:setUserLanguage('pt-BR')">Portuguese</a></li>
        </ul>
            <!--{{/if}}-->
        <!--</div>-->
    </div>
    </ul>
    <ul id="nav-contact" class="side-nav">
        <div ng-include="'module/user/client/views/contact-list.ng.html'"></div>
    </ul>
    <ul id="nav-chat" class="side-nav">
        <div ng-include="'module/user/client/views/chat.ng.html'"></div>
    </ul>
</div>
