<div ng-controller="KanbanCtrl as vm" flex>
    <md-content class="md-padding">

        {{vm.teste1(2)}} ---
        {{vm.teste2}} ---
        {{teste3}} ---
        {{vm.notesBackLog}} ---

        <!--<md-content>-->
        <table id="scrumy-board" cellspacing="0" class="live scrum" style="min-height: 300px;">
            <tbody id="scrumy-board-body">
                <tr id="scrumy-board-header" style="position: relative;">
                    <th id="story-header">
                        <span>Story</span>
                    </th>
                    <th id="plus-header">
                    </th>
                    <th class="plus-header" ng-repeat="status in vm.states">
                        <span>{{status.name}}</span> <br>
                        <a href="#" class="select-all" style="display: none">Select All</a>
                    </th>
                </tr>
                <tr class="story-task-row" ng-repeat="story in vm.stories">
                    <td rowspan="" id="story-915989-title" class="stories">
                        <div id="story_editor_915989" >
                            <div class="story-handle">
                                <span class="title">
                                    {{story.name}}
                                </span>
                            </div>
                        </div>
                    </td>
                    <td class="verify"></td>
                    <td class="linha status_1" sprintid="" sprinthorasgastas="" sprinthoras="" ng-repeat="status in story.states">
                        <!--{{status.notes}}-->
                        <div class="task-kanban hoverable" id="task_{{note._id}}" style="background-color: {{story.color}}"  ng-repeat="note in status.notes">
                            <div class="handle"> {{note.owner.name}} </div>
                            <div class="title" title="{{note.name}}" >
                                <pre class="title_inner" style="text-align: left;">{{note.description}}</pre>
                            </div>

                            <div class="iconEdit" sprintPostitId=">">
                                <i class="glyphicon glyphicon-search"></i>
                            </div>
                            <!--unassigned-->
                            <div class="assignment">
                                {{note.time}}h
                            </div>
                            <img class="overflow_indicator" src="/images/overflow_indicator.gif">
                        </div>
                    </td>
                    <td id="sprintAnterior" class="linha status_1" sprintid="" sprinthorasgastas="0" sprinthoras="">
                        <div class="task-kanban hoverable" id="task_{{note._id}}" style="background-color: {{backLogNote.story.color}}"  ng-repeat="note in story.notes">
                            <div class="handle"> {{note.owner.name}} </div>
                            <div class="title" title="{{note.name}}" >
    <pre class="title_inner" style="text-align: left;">{{note.description}}</pre>
                            </div>

                            <div class="iconEdit" sprintPostitId=">">
                                <i class="glyphicon glyphicon-search"></i>
                            </div>
                            <!--unassigned-->
                            <div class="assignment">
                                {{note.time}}h
                            </div>
                            <img class="overflow_indicator" src="/images/overflow_indicator.gif">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-content>
</div>
