<md-dialog aria-label="Mango (Fruit)">
    <form>
        <!--<md-toolbar>-->
            <!--<div class="md-toolbar-tools">-->
                <!--<h2>Task description</h2>-->
                <!--<span flex></span>-->
            <!--</div>-->
        <!--</md-toolbar>-->
        <md-dialog-content style="min-width:400px;max-width:800px;max-height:810px; ">
            <h5>{{'Description' | translate}}</h5>
            <div  ng-show="$root.currentUser">
                <!--<md-input-container class="md-block">-->
                <!--<label>Story</label>-->
                <!--<md-select ng-model="form.story" id="story" aria-label="Story"  placeholder="Story" disabled>-->
                <!--<md-option  ng-repeat="story in stories" value="{{story._id}}">-->
                <!--{{story.name}}-->
                <!--</md-option>-->
                <!--</md-select>-->
                <!--</md-input-container>-->
                <md-input-container class="md-block">
                    <!--<label>{{'Description' | translate}}</label>-->
                    {{form.description}}
                </md-input-container>
                <!--<label></label>-->
                <!--<md-input-container class="md-block">-->
                    <p ng-if="form.createdAt"><b>{{'Created at' | translate}}</b> {{form.createdAt}}</p>
                    <p ng-if="form.dateDone"><b>{{'Done in' | translate}}</b> {{form.dateDone}}</p>
                    <p ng-if="form.createdBy"><b>{{'Created by' | translate}}</b> {{form.createdBy}}</p>
                    <p ng-if="form.createdBy"><b>{{'Done by' | translate}}</b> {{form.doneBy}}</p>
                <!--</md-input-container>-->
            </div>
        </md-dialog-content>
    </form>
    <md-dialog-actions layout="row">
        <span flex></span>
        <button class="btn orange darken-3 waves-effect waves-light hoverable" type="button" ng-click="close()">
            {{ 'Close' | translate}}
        </button>
    </md-dialog-actions>
</md-dialog>