<md-dialog aria-label="Mango (Fruit)">
    <form>
        <!--<md-toolbar>-->
            <!--<div class="md-toolbar-tools">-->
                <!--<h2>Save Note</h2>-->
                <!--<span flex></span>-->
            <!--</div>-->
        <!--</md-toolbar>-->
        <md-dialog-content style="min-width:400px;max-width:800px;max-height:810px; ">
            <div  ng-show="$root.currentUser">
                <md-input-container class="md-block">
                    <label>Product</label>
                    <md-select ng-model="form.projectId" id="owner" aria-label="Owner"  placeholder="Product" required>
                        <md-option  ng-repeat="project in projects" value="{{project._id}}">
                            {{project.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Story</label>
                    <md-select ng-model="form.story" id="story" aria-label="Story"  placeholder="Story" required>
                        <md-option  ng-repeat="story in stories" value="{{story._id}}">
                            {{story.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Owner</label>
                    <md-select ng-model="form.owner" id="owner" aria-label="Owner"  placeholder="Owner" required>
                        <md-option  ng-repeat="member in members" value="{{member._id}}">
                            {{member.name}} {{member.lastName}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <div layout>
                    <div flex="15" layout layout-align="center center">
                        <span class="md-body-1">Time</span>
                    </div>
                    <md-slider ng-model="form.time" id="time-slider" flex md-discrete step="1" min="1" max="18" aria-label="Time"></md-slider>
                    <div flex="10" layout layout-align="center center">
                        <span class="md-body-1">{{form.time}}h </span>
                    </div>
                </div>
                <md-input-container class="md-block">
                    <label>Description</label>
                    <textarea ng-model="form.description" id="description" aria-label="Description"></textarea>
                </md-input-container>
                <!--<md-checkbox ng-model="newParty.public" id="public" aria-label="Public">-->
                    <!--Public-->
                <!--</md-checkbox>-->
            </div>
        </md-dialog-content>
    </form>
    <md-dialog-actions layout="row">
        <span flex></span>
        <button class="btn white waves-effect waves-orange hoverable" type="button" ng-click="close()">
            Cancel
        </button>
        <button class="btn orange darken-3 waves-effect waves-light hoverable" type="button" ng-click="save()">
            Save
        </button>
    </md-dialog-actions>
</md-dialog>