<div ng-controller="OrganizationsCtrl as vm">
    <!--<md-content>-->
        <!--<md-tabs md-center-tabs md-dynamic-height md-border-bottom>-->
            <!--<md-tab label="{{ 'Product' | translate }}">-->
                <md-content class="md-padding">
                    <div class="row" ng-if="!vm.exist(vm.organisations)">
                        <div class="col s12 center-align">
                            <p>Você ainda não possui uma organização, você pode criar uma organização ou pedir para alguém adiciona-lo à outra organização já existem.</p>
                            <p>É preciso criar uma organização para criar os produtos e suas tarefas, definir as sprints e responsáveis pelas tarefas.</p>
                            <p>Após criar a organização será possível adicionar os membros da organização e criar as equipes da organização que iram participar dos produtos e realizar as tarefas.</p>
                            <p>Para saber mais, clique no ícone de interrogação no canto direito superior. Lá explicamos tudo sobre o scrum e o j3scrum.</p>
                            <p>Para criar uma organização, clique no botão vermelho.</p>
                        </div>
                    </div>
                    <div class="row">
                        <!--<div class="container col l4 s12 row">-->
                        <div class="col l4 s12" ng-repeat="organization in vm.organisations">
                            <div ng-if="organization" class="card small orange lighten-3 hoverable animated fadeIn" style="background-color: {{organization.color}} !important;">
                                <div class="card-content white-text">
                                    <span class="card-title activator text-darken-4">{{organization.name}}<i class="material-icons right">more_vert</i></span>
                                    <p>{{organization.description}}</p>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">{{organization.name}}<i class="material-icons right">close</i></span>
                                    <p>- {{ 'Products' | translate }}: {{organization.total.projects}};</p>
                                    <p>- {{ 'Teams' | translate }}: {{organization.total.teams}};</p>
                                    <p>- {{ 'Members' | translate }}: {{organization.total.members}};</p>
                                    <p>- {{ 'Visualization' | translate }} {{ organization.visualization | translate }}.</p>
                                    <p><b>Descrição:</b> <br />{{organization.description}}</p>
                                </div>
                                <div class="card-action center orange lighten-3" style="background-color: {{organization.color}} !important;">
                                    <!--<a href="#">{{_ 'Delete'}}</a>-->
                                    <!--<a href="#organizationSave" data-id="{{_id}}" class="modal-trigger">{{_ 'Edit'}}</a>-->
                                    <!--<a href="/organization/save/{{_id}}">{{_ 'Edit'}}</a>-->
                                    <!--<a href="/scrum/kanban">{{_ 'Enter'}}</a>-->
                                    <!--<a href="#" ng-if="vm.isOwner(organization.userId)" ng-click="vm.remove(organization._id)">Delete</a>-->
                                    <a href="#" ng-if="vm.isOwner(organization.userId)" ng-click="vm.modalOrganizationSave($event, organization._id)">{{ 'Edit' | translate }}</a>
                                    <!--<a href="#" ng-click="vm.modalProjectSave($event, organization._id)">Edit</a>-->
                                    <!--<a href="#" ng-click="redirect('scrum/kanban/organization._id')">Enter</a>-->
                                    <a href="/scrum/{{organization.namespace}}/products">{{ 'Enter' | translate }}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col l4 s12" ng-if="vm.showNoOrganization()">
                            <div class="card small orange lighten-3 hoverable animated fadeIn">
                                <div class="card-content white-text">
                                    <span class="card-title text-darken-4">{{ 'No organization' | translate }}
                                        <!--<i class="material-icons right">more_vert</i>-->
                                    </span>
                                    <p>{{ 'Products without organization' | translate }}.</p>
                                </div>
                                <div class="card-reveal">
                                    <!--<span class="card-title grey-text text-darken-4">{{ 'No organization' | translate }}<i-->
                                            <!--class="material-icons right">close</i></span>-->
                                    <!--<p>{{organization.name}}</p>-->
                                    <!--<p>{{organization.namespace}}</p>-->
                                    <!--<p>{{organization.description}}</p>-->
                                </div>
                                <div class="card-action center orange lighten-3" >
                                    <!--<a href="#">{{_ 'Delete'}}</a>-->
                                    <!--<a href="#organizationSave" data-id="{{_id}}" class="modal-trigger">{{_ 'Edit'}}</a>-->
                                    <!--<a href="/organization/save/{{_id}}">{{_ 'Edit'}}</a>-->
                                    <!--<a href="/scrum/kanban">{{_ 'Enter'}}</a>-->
                                    <!--<a href="#" ng-if="vm.isOwner(organization.userId)" ng-click="vm.remove(organization._id)">Delete</a>-->
                                    <!--<a href="#" ng-click="vm.modalProjectSave($event, organization._id)">Edit</a>-->
                                    <!--<a href="#" ng-click="redirect('scrum/kanban/organization._id')">Enter</a>-->
                                    <a href="/scrum/organization/products">{{ 'Enter' | translate }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-content>
            <!--</md-tab>-->
            <!--<md-tab label="{{ 'Team' | translate }}">-->
                <!--<md-content class="md-padding">-->
                    <!--<div ng-include="'module/scrum/client/view/team.ng.html'"></div>-->
                <!--</md-content>-->
            <!--</md-tab>-->
        <!--</md-tabs>-->
    <!--</md-content>-->
</div>
