<div ng-controller="OrganizationFabCtrl as vm" class="fixed-action-btn horizontal">
    <div class="fixed-action-btn horizontal ">
        <md-fab-speed-dial id="fab-organization" md-direction="up" class="md-scale">
            <md-fab-trigger>
                <md-button ng-click="vm.modalOrganizationSave($event)" aria-label="menu" class="md-fab btn-floating btn-large hoverable red  accent-4 animated bounceInUp">
                    <md-tooltip md-direction="left" md-visible="tooltipVisible"
                                md-autohide="false">
                        {{ 'Add Organization' | translate}}
                    </md-tooltip>
                    <i title="" class="material-icons">location_city</i>
                </md-button>
            </md-fab-trigger>
        </md-fab-speed-dial>
    </div>
    <div class="tap-target red accent-4 white-text" data-activates="fab-organization">
        <div class="tap-target-content">
            <!-- <h5>{{ 'Organization' | translate}}</h5> -->
            <p>{{ 'Click here to register an organization or someone else to add it to an organization' |
                translate}}.</p>
            <p>{{ 'To know what an organization is, click on the question mark icon' | translate}}.</p>
        </div>
    </div>
</div>
