<!--<md-content class="md-padding">-->
<!--<md-content layout-padding ng-repeat="project in projects" >-->
<!--<md-card ng-repeat="project in projects" class="hoverable">-->
<!--&lt;!&ndash;<img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">&ndash;&gt;-->
<!--<md-card-content>-->
<!--<h2 class="md-title">{{project.name}}</h2>-->
<!--<p>{{project.description}}</p>-->
<!--</md-card-content>-->
<!--<div class="md-dialog-actions" layout="row" layout-align="center center">-->
<!--<md-button ng-href="{{project.link}}">Delete</md-button>-->
<!--<md-button ng-href="{{project.link}}">Edit</md-button>-->
<!--<md-button ng-href="{{project.link}}">Enter</md-button>-->
<!--</div>-->
<!--</md-card>-->

<style>
    .liquidFillGaugeText { font-family: Helvetica; font-weight: bold; }
</style>
<div ng-controller="ProductCtrl as ctrl">
    <md-content class="md-padding">
        <div class="row">
            <div class="col s12 m6">
                <!--<div class="card blue-grey darken-1">-->
                <div class="card hoverable animated fadeIn">
                    <div class="card-content">
                        <span class="card-title black-text">{{'Active team' | translate}}</span>
                        <svg id="fillgauge2" width="100%" height="200" onclick="gauge2.update(NewValue());"></svg>
                    </div>
                    <!--<div class="card-action">-->
                        <!--<a href="#">This is a link</a>-->
                        <!--<a href="#">This is a link</a>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card hoverable animated fadeIn">
                    <div class="card-content">
                        <span class="card-title black-text">{{'Tasks completed' | translate}}</span>
                        <svg id="fillgauge1" width="100%" height="200" onclick="gauge1.update(NewValue());"></svg>
                    </div>
                    <!--<div class="card-action">-->
                        <!--<a href="#">This is a link</a>-->
                        <!--<a href="#">This is a link</a>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </md-content>
</div>