<div ng-controller="ProductFabCtrl as vm" class="fixed-action-btn horizontal">
    <div class="fixed-action-btn horizontal">
        <md-fab-speed-dial md-direction="up" class="md-scale" id="fab-product">
            <md-fab-trigger>
                <md-button ng-click="vm.modalProjectSave($event)" aria-label="menu" class="md-fab btn-floating btn-large hoverable animated bounceInUp red">
                    <md-tooltip md-direction="left" md-visible="tooltipVisible"
                                md-autohide="false">
                        {{ 'Add Product' | translate}}
                    </md-tooltip>
                    <!--<md-icon md-svg-src="img/icons/menu.svg" aria-label="menu"></md-icon>-->
                    <i title="" class="material-icons">business_center</i>
                </md-button>
            </md-fab-trigger>
        </md-fab-speed-dial>

        <div class="tap-target red accent-4 white-text" data-activates="fab-product">
          <div class="tap-target-content">
            <!-- <h5>{{ 'Organization' | translate}}</h5> -->
            <p>{{ 'Click here to register an organization or someone else to add it to an organization' | translate}}.</p>
            <p>{{ 'To know what an organization is, click on the question mark icon' | translate}}.</p>
          </div>
        </div>
    </div>
</div>
