<div ng-controller="ProjectTeamCtrl as vm" flex>
    <nav class="brown darken-2" role="navigation">
        <!--<div class="nav-wrapper container center">-->
        <div class="nav-wrapper container center">
            <ul class="brand-logo center">
                <li class="waves-effect">
                    <md-tooltip md-direction="botom" md-autohide="false"> Product</md-tooltip>
                    <a href="/scrum/project">
                        <i class="material-icons">business_center</i>
                    </a>
                </li>
                <li class="waves-effect">
                    <md-tooltip md-direction="botom" md-autohide="false"> Burndown</md-tooltip>
                    <a href="/scrum/burndown/{{vm.id}}/{{vm.sprintId}}">
                        <i class="material-icons">equalizer</i>
                    </a>
                </li>
                <li class="waves-effect">
                    <md-tooltip md-direction="botom" md-autohide="false"> Kanban </md-tooltip>
                    <a href="/scrum/kanban/{{vm.id}}/{{vm.sprintId}}">
                        <i class="material-icons">view_column</i>
                    </a>
                </li>
                <li class="waves-effect">
                    <md-tooltip md-direction="botom" md-autohide="false"> Backlog</md-tooltip>
                    <a href="/scrum/backlog/{{vm.id}}/{{vm.sprintId}}">
                        <i class="material-icons">developer_board</i>
                    </a>
                </li>
                <li class="waves-effect">
                    <md-tooltip md-direction="botom" md-autohide="false"> Story</md-tooltip>
                    <a href="/scrum/story/{{vm.id}}/{{vm.sprintId}}">
                        <i class="material-icons">content_paste</i>
                    </a>
                </li>
                <li class="waves-effect">
                    <md-tooltip md-direction="botom" md-autohide="false"> Team </md-tooltip>
                    <a href="/scrum/project-team/{{vm.id}}/{{vm.sprintId}}">
                        <i class="material-icons">group_work</i>
                    </a>
                </li>
                <li class="waves-effect">
                    <md-tooltip md-direction="botom" md-autohide="false"> Status </md-tooltip>
                    <a href="/scrum/status/{{vm.id}}/{{vm.sprintId}}">
                        <i class="material-icons">style</i>
                    </a>
                </li>
                <li class="waves-effect">
                    <md-tooltip md-direction="botom" md-autohide="false"> Sprint</md-tooltip>
                    <a href="/scrum/sprint/{{vm.id}}/{{vm.sprintId}}">
                        <i class="material-icons">history</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <md-progress-linear class="md-accent" md-mode="buffer" value="{{sprint.progressDone}}" md-buffer-value="{{sprint.progress}}"></md-progress-linear>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div ng-repeat="team in vm.teams">
            <div class=".md-display-2">
                {{team.name}}
            </div>
            <!--<div flex-xs flex-gt-xs="50" layout="row">-->
            <div flex-xs layout="row">
                <!--<md-card ng-repeat="user in team.members" flex-gt-xs="50" class="orange lighten-3 hoverable" style="margin: 10px; width: 250.734px; height: 144px;">-->
                <md-card ng-repeat="user in team.members" class="orange lighten-3 hoverable" style="margin: 10px; width: 306px; height: 144px;">
                    <md-card-title>
                        <md-card-title-media>
                            <div class="md-media-sm card-media">
                                <img alt="{{user.name}}" ng-src="{{user.img}}" class="md-avatar md-whiteframe-3dp" style="
                                        display: block;
                                        position: absolute;
                                        padding-top: 0px;
                                        /*margin-top: 14px;*/
                                        background-color: {{user.statusColor}};
                                        border: solid 6px  {{user.statusColor}};

                                        width: 60px;
                                        height: 60px;
                                        /*margin-top: 4px;*/
                                        /*width: 40px;*/
                                        /*height: 40px;*/
                                        margin-top: 6px;

                                        margin-bottom: 8px;
                                        /* margin-right: 16px; */
                                        /* border-radius: 50%; */
                                        border-radius: 12%;
                                        box-sizing: content-box;
                                        "/>
                            </div>
                        </md-card-title-media>
                        <md-card-title-text>
                            <span class="md-headline" style="color: #FFFFFF;">{{user.nameTreated}}</span>
                            <!--<span class="md-subhead">Small</span>-->
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <!--<md-button>Action 1</md-button>-->
                        <!--<md-button>Action 2</md-button>-->
                    </md-card-actions>
                </md-card>
            </div>
        </div>
    </md-content>
    <!--<h1 class="md-display-2">Team</h1> {{test}}-->
    <!--<p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>-->
</div>