<!--<md-content class="md-padding">-->
<!--<md-content layout-padding ng-repeat="project in projects" >-->
<!--<md-card ng-repeat="project in projects" class="hoverable">-->
<!--&lt;!&ndash;<img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">&ndash;&gt;-->
<!--<md-card-content>-->
<!--<h2 class="md-title">{{project.name}}</h2>-->
<!--<p>{{project.description}}</p>-->
<!--</md-card-content>-->
<!--<div class="md-dialog-actions" layout="row" layout-align="center center">-->
<!--<md-button ng-href="{{project.link}}">Delete</md-button>-->
<!--<md-button ng-href="{{project.link}}">Edit</md-button>-->
<!--<md-button ng-href="{{project.link}}">Enter</md-button>-->
<!--</div>-->
<!--</md-card>-->

<div ng-controller="ProjectCtrl as vm">
    <div class="container">
        <md-tabs md-center-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Product">
                <md-content class="md-padding">
                    <div class="row">
                        <!--<div class="container col l4 s12 row">-->
                        <div class="col l4 s12" ng-repeat="project in vm.projects">
                                <div ng-if="project" class="card small orange lighten-3 hoverable">
                                    <div class="card-content white-text">
                                        <span class="card-title activator text-darken-4">{{project.name}}<i
                                                class="material-icons right">more_vert</i></span>
                                        <p>{{project.description}}</p>
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">{{project.name}}<i
                                                class="material-icons right">close</i></span>
                                        <p>{{project.owner.name}}</p>
                                        <p>{{project.description}}</p>
                                    </div>
                                    <div class="card-action center orange lighten-3">
                                        <!--<a href="#">{{_ 'Delete'}}</a>-->
                                        <!--<a href="#projectSave" data-id="{{_id}}" class="modal-trigger">{{_ 'Edit'}}</a>-->
                                        <!--<a href="/project/save/{{_id}}">{{_ 'Edit'}}</a>-->
                                        <!--<a href="/scrum/kanban">{{_ 'Enter'}}</a>-->
                                        <a href="#" ng-if="vm.isOwner(project.userId)" ng-click="vm.remove(project._id)">Delete</a>
                                        <a href="#" ng-if="vm.isOwner(project.userId)" ng-click="vm.modalProjectSave($event, project._id)">Edit</a>
                                        <!--<a href="#" ng-click="vm.modalProjectSave($event, project._id)">Edit</a>-->
                                        <!--<a href="#" ng-click="redirect('scrum/kanban/project._id')">Enter</a>-->
                                        <a href="/scrum/productkanban/{{project._id}}/{{project.sprint._id}}">Enter</a>
                                    </div>
                                </div>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Team">
                <md-content class="md-padding">
                    <div ng-include="'module/scrum/client/view/team.ng.html'"></div>
                </md-content>
            </md-tab>
        </md-tabs>
    </div>
</div>