<md-dialog aria-label="Mango (Fruit)">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Save project</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content style="min-width:400px;max-width:800px;max-height:810px;">
                <md-input-container>
                    <label>Name</label>
                    <input ng-model="form.name" id="names" type="text" aria-label="Name" required>
                </md-input-container>
                <md-input-container>
                    <label>Week</label>
                    <md-select ng-model="form.week" id="week" aria-label=""  placeholder="Week" required>
                        <md-option  ng-repeat="week in weeks" value="{{week}}">
                            {{week}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>Team</label>
                    <md-select ng-model="form.teams" id="teams" aria-label=""  placeholder="Team" multiple="true" required>
                        <md-option  ng-repeat="team in teams" value="{{team._id}}">
                            {{team.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>Description</label>
                    <textarea ng-model="form.description" id="description" aria-label="Description"></textarea>
                </md-input-container>
                <!--<md-checkbox ng-model="newParty.public" id="public" aria-label="Public">-->
                    <!--Public-->
                <!--</md-checkbox>-->
        </md-dialog-content>
    </form>
    <div class="md-actions" layout="row" layout-align="center center">
        <!--<md-button class="md-raised hoverable" ng-click="close()">-->
            <!--Cancel-->
        <!--</md-button>-->
        <!--<md-button class="md-raised hoverable md-accent" ng-click="save()">-->
            <!--Save-->
            <!--<i class="material-icons right">send</i>-->
        <!--</md-button>-->
        <button class="btn white waves-effect waves-orange hoverable" type="button" ng-click="close()">
            <!--<i class="material-icons right">close</i>-->
            Cancel
        </button>
        <button class="btn orange darken-3 waves-effect waves-light hoverable" type="button" ng-click="save()">
            <!--<i class="material-icons right">check</i>-->
            Save
        </button>
    </div>
</md-dialog>