<div ng-controller="ProjectContentCtrl as vm" flex>
    <!--{{project}}-->
    <!--{{vm.project}}-->
    <!--<md-tabs md-center-tabs md-dynamic-height md-border-bottom md-selected="1" >-->
    <!--<md-tab label="05/01/2016 - 15/01/2016 (12)">-->
    <!--<md-content class="md-padding">-->
    <!--Em desenvolvimento...-->
    <!--</md-content>-->
    <!--</md-tab>-->
    <!--<md-tab label="Kanban" >-->
    <!--<md-content class="md-padding">-->
    <!--&lt;!&ndash;<div ng-include="'module/scrum/client/view/kanban.ng.html'"></div>&ndash;&gt;-->
    <!--</md-content>-->
    <!--</md-tab>-->
    <!--</md-tabs>-->
    <!--<md-progress-linear md-mode="determinate" class="md-accent" value="{{sprint.progress}}"></md-progress-linear>-->
    <md-progress-linear class="md-accent" md-mode="buffer" value="{{sprint.progressDone}}" md-buffer-value="{{sprint.progress}}"></md-progress-linear>
    <md-fab-toolbar count="3" md-direction="left">
        <md-fab-trigger class="align-with-text">
            <md-button aria-label="menu" class="md-fab md-primary btn-floating btn-large">
            <!--<md-button aria-label="menu" class="md-fab md-primary ">-->
                <i class="material-icons">menu</i>
            </md-button>
        </md-fab-trigger>
        <md-toolbar>
            <md-fab-actions class="md-toolbar-tools">
                <md-button aria-label="comment" class="md-icon-button">
                    <md-tooltip md-direction="top" md-autohide="false"> {{ 'Product' | translate}} </md-tooltip>
                    <a href="/scrum/product" class="waves-effect waves-orange"><i class="material-icons">business_center</i></a>
                </md-button>
                <md-button aria-label="comment" class="md-icon-button">
                    <a href="/scrum/sprint/{{vm.id}}/{{vm.sprintId}}" class="waves-effect waves-orange"><i class="material-icons">history</i></a>
                </md-button>
                <md-button aria-label="label" class="md-icon-button">
                    <a href="/scrum/status/{{vm.id}}/{{vm.sprintId}}" class="waves-effect waves-orange"><i class="material-icons">style</i></a>
                </md-button>
                <md-button aria-label="label" class="md-icon-button">
                    <a href="/scrum/story/{{vm.id}}/{{vm.sprintId}}" class="waves-effect waves-orange"><i class="material-icons">content_paste</i></a>
                </md-button>
                <md-button aria-label="label" class="md-icon-button">
                    <a href="/scrum/product-team/{{vm.id}}/{{vm.sprintId}}" class="waves-effect waves-orange"><i class="material-icons">group_work</i></a>
                </md-button>
                <md-button aria-label="photo" class="md-icon-button">
                    <a href="/scrum/backlog/{{vm.id}}/{{vm.sprintId}}" class="waves-effect waves-orange"><i class="material-icons">view_column</i></a>
                </md-button>
                <md-button aria-label="label" class="md-icon-button">
                    <a href="/scrum/kanban/{{vm.id}}/{{vm.sprintId}}" class="waves-effect waves-orange"><i class="material-icons">developer_board</i></a>
                </md-button>
                <md-button aria-label="comment" class="md-icon-button">
                    <a href="/scrum/burndown/{{vm.id}}/{{vm.sprintId}}" class="waves-effect waves-orange"><i class="material-icons">equalizer</i></a>
                </md-button>
            </md-fab-actions>
        </md-toolbar>
    </md-fab-toolbar>
    <!--<md-tabs md-center-tabs md-dynamic-height md-border-bottom md-selected="1" md-enable-disconnect md-swipe-content>-->
    <md-tabs md-center-tabs md-dynamic-height md-border-bottom md-selected="1">
        <md-tab label="Burndown">
            <md-content class="md-padding">
                <div ng-include="'module/scrum/client/view/burndown.ng.html'"></div>
            </md-content>
        </md-tab>
        <md-tab label="Kanban">
            <md-content class="md-padding">
                <div ng-include="'module/scrum/client/view/kanban.ng.html'"></div>
            </md-content>
        </md-tab>
        <md-tab label="Backlog">
            <md-content class="md-padding">
                <div ng-include="'module/scrum/client/view/backlog.ng.html'"></div>
            </md-content>
        </md-tab>
        <md-tab label="Team">
            <md-content class="md-padding">
                <div ng-include="'module/scrum/client/view/project-team.ng.html'"></div>
            </md-content>
        </md-tab>
        <md-tab label="Story">
            <md-content class="md-padding">
                <div ng-include="'module/scrum/client/view/story.ng.html'"></div>
            </md-content>
        </md-tab>
        <md-tab label="Status">
            <md-content class="md-padding">
                <div ng-include="'module/scrum/client/view/status.ng.html'"></div>
            </md-content>
        </md-tab>
        <md-tab label="Sprint">
            <md-content class="md-padding">
                <div ng-include="'module/scrum/client/view/sprint.ng.html'"></div>
            </md-content>
        </md-tab>
    </md-tabs>
</div>