<md-dialog aria-label="Mango (Fruit)">
    <form>
        <!--<md-toolbar>-->
            <!--<div class="md-toolbar-tools">-->
                <!--<h2>Save product</h2>-->
                <!--<span flex></span>-->
            <!--</div>-->
        <!--</md-toolbar>-->
        <md-dialog-content style="min-width:400px;max-width:800px;max-height:810px;">
            <md-content layout-padding>
                <md-input-container class="md-block">
                    <label>{{ 'Color' | translate}}</label>
                    <input ng-model="form.color" id="color" type="color" aria-label="Name" required>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>{{ 'Organization' | translate }}</label>
                    <md-select ng-model="form.organization" aria-label="" placeholder="{{ 'Organization' | translate }}" required>
                        <md-option ng-repeat="organization in organizations" value="{{organization._id}}">
                            {{organization.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>{{ 'Namespace' | translate}}</label>
                    <input ng-model="form.namespace" type="text" aria-label="Namespace" required>
                </md-input-container>
            <div layout-gt-sm="row">
                <md-input-container class="md-block">
                    <label>{{ 'Name' | translate }}</label>
                    <input ng-model="form.name" type="text" aria-label="Name" required>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>{{ 'Owner' | translate }}</label>
                    <md-select ng-model="form.userId" aria-label="" placeholder="Owner" required>
                        <md-option ng-repeat="user in users" value="{{user._id}}">
                            {{user.name}} {{user.lastName}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block">
                    <label>Scrum Master</label>
                    <md-select ng-model="form.scrumMaster" aria-label="" placeholder="Scrum Master" required
                               multiple="true">
                        <md-option ng-repeat="user in users" value="{{user._id}}">
                            {{user.name}} {{user.lastName}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Product Owner (PO)</label>
                    <md-select ng-model="form.productOwner" aria-label="" placeholder="Product Owner (PO)" required
                               multiple="true">
                        <md-option ng-repeat="user in users" value="{{user._id}}">
                            {{user.name}} {{user.lastName}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <md-input-container class="md-block">
                <label>{{ 'Team' | translate }}</label>
                <md-select ng-model="form.teams" id="teams" aria-label="" placeholder="Team" multiple="true"
                           required>
                    <md-option ng-repeat="team in teams" value="{{team._id}}">
                        {{team.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <!--<div layout-gt-sm="row">-->
                <!--<md-input-container class="md-block">-->
                    <!--<label>Week</label>-->
                    <!--<md-select ng-model="form.week" id="week" aria-label="" placeholder="Week" required>-->
                        <!--<md-option ng-repeat="week in weeks" value="{{week}}">-->
                            <!--{{week}}-->
                        <!--</md-option>-->
                    <!--</md-select>-->
                <!--</md-input-container>-->
                <div layout>
                    <div flex="15" layout layout-align="center center">
                        <span class="md-body-1">{{ 'Week' | translate }}</span>
                    </div>
                    <md-slider ng-model="form.week" id="time-slider" flex md-discrete step="1" min="1" max="4" aria-label="Time"></md-slider>
                    <div flex="10" layout layout-align="center center">
                        <span class="md-body-1">{{form.week}}</span>
                    </div>
                </div>
                <md-input-container class="md-block">
                    <md-switch ng-model="form.skipWeekend" aria-label="Weekend">
                        {{ 'Skip weekend' | translate }}
                    </md-switch>
                </md-input-container>
                <md-radio-group ng-model="form.visibility">
                    <md-radio-button value="1" class="md-warn"> <i class="material-icons">security</i> {{ 'Private - Only product members' | translate }}</md-radio-button>
                    <md-radio-button value="2" class="md-primary"> <i class="material-icons ng-binding" style="height:40px;line-height:40px">group</i> {{ 'Internal - Everyone in the organization' | translate }}</md-radio-button>
                    <md-radio-button value="3" > <i class="material-icons">public</i> {{ 'Public - Everyone can see' | translate }}</md-radio-button>
                </md-radio-group>
            <!--</div>-->
            <md-input-container class="md-block">
                <label>{{ 'Description' | translate }}</label>
                <textarea ng-model="form.description" id="description" aria-label="Description"></textarea>
            </md-input-container>
            <!--<md-checkbox ng-model="newParty.public" id="public" aria-label="Public">-->
            <!--Public-->
            <!--</md-checkbox>-->
            </md-content>
        </md-dialog-content>
    </form>
    <md-dialog-actions layout="row">
        <!--<md-button class="md-raised hoverable" ng-click="close()">-->
        <!--Cancel-->
        <!--</md-button>-->
        <!--<md-button class="md-raised hoverable md-accent" ng-click="save()">-->
        <!--Save-->
        <!--<i class="material-icons right">send</i>-->
        <!--</md-button>-->
        <button class="btn white waves-effect waves-orange hoverable" type="button" ng-click="close()">
            <!--<i class="material-icons right">close</i>-->
            {{ 'Cancel' | translate }}
        </button>
        <button class="btn orange darken-3 waves-effect waves-light hoverable" type="button" ng-click="save()">
            <!--<i class="material-icons right">check</i>-->
            {{ action | translate }}
        </button>
    </md-dialog-actions>
</md-dialog>