<div ng-controller="SprintCtrl as vm" flex>
    <nav class="brown darken-2" role="navigation">
        <!--<div class="nav-wrapper container center">-->
        <div class="nav-wrapper container center">
            <ul class="brand-logo center">
                <li class="waves-effect">
                    <md-tooltip md-direction="botom" md-autohide="false"> Product</md-tooltip>
                    <a href="/scrum/project">
                        <i class="material-icons">business_center</i>
                    </a>
                </li>
                <li class="waves-effect">
                    <md-tooltip md-direction="botom" md-autohide="false"> Burndown</md-tooltip>
                    <a href="/scrum/sprint/{{vm.id}}/{{vm.sprintId}}">
                        <i class="material-icons">equalizer</i>
                    </a>
                </li>
                <li class="waves-effect">
                    <md-tooltip md-direction="botom" md-autohide="false"> Kanban </md-tooltip>
                    <a href="/scrum/sprint/{{vm.id}}/{{vm.sprintId}}">
                        <i class="material-icons">view_column</i>
                    </a>
                </li>
                <li class="waves-effect">
                    <md-tooltip md-direction="botom" md-autohide="false"> Backlog</md-tooltip>
                    <a href="/scrum/sprint/{{vm.id}}/{{vm.sprintId}}">
                        <i class="material-icons">developer_board</i>
                    </a>
                </li>
                <li class="waves-effect">
                    <md-tooltip md-direction="botom" md-autohide="false"> Story</md-tooltip>
                    <a href="/scrum/sprint/{{vm.id}}/{{vm.sprintId}}">
                        <i class="material-icons">content_paste</i>
                    </a>
                </li>
                <li class="waves-effect">
                    <md-tooltip md-direction="botom" md-autohide="false"> Team </md-tooltip>
                    <a href="/scrum/sprint/{{vm.id}}/{{vm.sprintId}}">
                        <i class="material-icons">group_work</i>
                    </a>
                </li>
                <li class="waves-effect">
                    <md-tooltip md-direction="botom" md-autohide="false"> Status </md-tooltip>
                    <a href="/scrum/sprint/{{vm.id}}/{{vm.sprintId}}">
                        <i class="material-icons">style</i>
                    </a>
                </li>
                <li class="waves-effect">
                    <md-tooltip md-direction="botom" md-autohide="false"> Sprint</md-tooltip>
                    <a href="/scrum/sprint/{{vm.id}}/{{vm.sprintId}}">
                        <i class="material-icons">history</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <md-progress-linear class="md-accent" md-mode="buffer" value="{{sprint.progressDone}}" md-buffer-value="{{sprint.progress}}"></md-progress-linear>
    <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Search</label>
            <input type="text" ng-model="vm.searchText"/>
        </md-input-container>
        <md-input-container >
            <md-select ng-model="order" placeholder="Sort Order" >
                <md-option ng-click="vm.sortChange('1')" value="1">Ascending</md-option>
                <md-option ng-click="vm.sortChange('-1')" value="-1">Descending</md-option>
            </md-select>
        </md-input-container>
    </div>
    <md-content>
        <md-list>
            <md-list-item class="md-3-line" dir-paginate="sprint in vm.sprints | itemsPerPage: vm.perPage" pagination-id="sprint" total-items="vm.total()">
                <div class="md-list-item-text" layout="column" layout-align="center center">
                    <h3>{{sprint.number}}</h3>
                    <p>{{sprint.dateStartTreated}} - {{sprint.dateEndTreated}}</p>
                </div>
                <div class="md-list-item-text" layout="row" layout-align="center center">
                    <md-button class="md-fab md-mini hoverable" aria-label="Edit" ng-click="vm.modalSave($event, sprint._id)">
                        <md-icon md-svg-icon="content:ic_create_24px" aria-label="Edit"></md-icon>
                    </md-button>
                    <md-button class="md-fab md-mini hoverable" aria-label="Remove" ng-click="remove(team._id)">
                        <md-icon md-svg-icon="content:ic_clear_24px" aria-label="Remove"></md-icon>
                    </md-button>
                </div>
                <md-divider></md-divider>
                <!--<md-divider ng-if="!$last"></md-divider>-->
            </md-list-item>
        </md-list>
        <dir-pagination-controls on-page-change="vm.pageChanged(newPageNumber)" pagination-id="sprint"></dir-pagination-controls>
    </md-content>
</div>
