<md-dialog aria-label="Mango (Fruit)">
    <form>
        <!--<md-toolbar>-->
            <!--<div class="md-toolbar-tools">-->
                <!--<h2>Change sprint</h2>-->
                <!--<span flex></span>-->
            <!--</div>-->
        <!--</md-toolbar>-->
        <md-dialog-content style="min-width:400px;max-width:800px;max-height:810px; ">
            <div  ng-show="$root.currentUser">
                <md-input-container class="md-block">
                    <md-select ng-model="form.sprintId" id="sprintId" aria-label=""  placeholder="Sprint" required >
                        <md-option  ng-repeat="sprint in sprints" value="{{sprint._id}}" ng-click="change(sprint._id)">
                            ({{sprint.number}}) {{sprint.dateStartTreated}} - {{sprint.dateEndTreated}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </md-dialog-content>
    </form>
    <md-dialog-actions layout="row">
        <span flex></span>
        <button class="btn white waves-effect waves-orange hoverable" type="button" ng-click="close()">
            {{ 'Cancel' | translate}}
        </button>
        <!--<button class="btn orange darken-3 waves-effect waves-light hoverable" type="button" ng-click="change()">-->
            <!--Change sprint-->
        <!--</button>-->
    </md-dialog-actions>
</md-dialog>