<div ng-controller="StatusCtrl as vm" flex>
    <div ng-include="'module/scrum/client/view/product-toolbar.ng.html'"></div>
    <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Search</label>
            <input type="text" ng-model="vm.searchText"/>
        </md-input-container>
        <md-input-container >
            <md-select ng-model="order" placeholder="Sort Order" >
                <md-option ng-click="vm.sortChange('1')" value="1">Ascending</md-option>
                <md-option ng-click="vm.sortChange('-1')" value="-1">Descending</md-option>
            </md-select>
        </md-input-container>
    </div>
    <md-content>
        <md-list>
            <md-list-item class="md-3-line" pagination-id="status" dir-paginate="status in vm.states | itemsPerPage: vm.perPage" total-items="vm.total()">
                <div class="md-list-item-text" layout="column" layout-align="center center">
                    <h3>{{status.name}}</h3>
                    <!--<h4>{{item.who}}</h4>-->
                    <p>{{status.description}}</p>
                </div>
                <div class="md-list-item-text" layout="row" layout-align="center center">
                    <md-button class="md-fab md-mini hoverable" aria-label="Edit" ng-click="modalStatusSave($event, status._id)">
                        <md-icon md-svg-icon="content:ic_create_24px" aria-label="Edit"></md-icon>
                    </md-button>
                    <md-button class="md-fab md-mini hoverable" aria-label="Remove" ng-click="delete(status._id)">
                        <md-icon md-svg-icon="content:ic_clear_24px" aria-label="Remove"></md-icon>
                    </md-button>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
        <dir-pagination-controls pagination-id="status" on-page-change="vm.pageChanged(newPageNumber)"></dir-pagination-controls>
    </md-content>
    <div ng-include="'module/scrum/client/view/product-fab.ng.html'"></div>
</div>