<md-content class="md-padding">
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="{{'Teams' | translate}}" flex>
            <div ng-controller="TeamCtrl as vmTeam">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>{{ 'Search' | translate }}</label>
                        <input type="text" ng-model="vmTeam.teamSearchText"/>
                    </md-input-container>
                    <md-input-container>
                        <md-select ng-model="order" placeholder="{{ 'Sort order' | translate }}">
                            <md-option ng-click="vmTeam.sortChange('1')" value="1">{{ 'Ascending' | translate }}</md-option>
                            <md-option ng-click="vmTeam.sortChange('-1')" value="-1">{{ 'Descending' | translate }}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <md-content>
                    <div class="row">
                        <div class="row" ng-if="!vmTeam.exist(vmTeam.teams)">
                            <div class="col s12 center-align">
                                <p>Essa organização ainda não possui uma equipe, antes de criar uma equipe adicione as pessoas que serão membros da organização.</p>
                                <p>Nas equipes é definido o tempo de esforço dos membros dela, essas equipes são adicionadas ao produto para realizar as tarefas.</p>
                                <p>Para saber mais, clique no ícone de interrogação no canto direito superior. Lá explicamos tudo sobre o scrum e o j3scrum.</p>
                                <p>Para criar uma equipe ou adicionar o membro, clique no botão laranja.</p>
                            </div>
                        </div>
                        <!--<div class="container col l4 s12 row">-->
                        <div class="col l4 s12" ng-repeat="team in vmTeam.teams">
                            <div ng-if="team" class="card small orange lighten-3 hoverable animated fadeIn" style="background-color: {{team.color}} !important;">
                                <div class="card-content white-text">
                                    <span class="card-title activator text-darken-4">{{team.name}}<i
                                            class="material-icons right">more_vert</i></span>
                                    <p>{{team.description}}</p>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">{{team.name}}<i
                                            class="material-icons right">close</i></span>
                                    <p>{{team.owner.name}}</p>
                                    <p>{{team.description}}</p>
                                </div>
                                <div class="card-action center orange lighten-3" style="background-color: {{team.color}} !important;">
                                    <!--<a href="#">{{_ 'Delete'}}</a>-->
                                    <!--<a href="#projectSave" data-id="{{_id}}" class="modal-trigger">{{_ 'Edit'}}</a>-->
                                    <!--<a href="/project/save/{{_id}}">{{_ 'Edit'}}</a>-->
                                    <!--<a href="/scrum/kanban">{{_ 'Enter'}}</a>-->
                                    <!--<a href="#" ng-if="vm.isOwner(project.userId)" ng-click="vm.remove(project._id)">Delete</a>-->
                                    <!--<a href="#" ng-if="vm.isOwner(project.userId)" ng-click="vm.modalProjectSave($event, project._id)">{{ 'Edit' | translate }}</a>-->
                                    <a href="#" ng-click="modalSave($event, team._id)">{{ 'Edit' | translate }}</a>
                                    <!--<a href="#" ng-click="vm.modalProjectSave($event, project._id)">Edit</a>-->
                                    <!--<a href="#" ng-click="redirect('scrum/kanban/project._id')">Enter</a>-->
                                    <!--<a href="/scrum/{{project.organizationNamespace}}/{{project.namespace}}/kanban/{{project.sprint.number}}">{{ 'Enter' | translate }}</a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <md-list-item class="md-3-line" pagination-id="team"
                                  dir-paginate="team2 in vmTeam.teams | itemsPerPage: vmTeam.perPage"
                                  total-items="vmTeam.total()" style="display: none;">
                    </md-list-item>
                    <dir-pagination-controls pagination-id="team" on-page-change="vmTeam.pageChanged(newPageNumber)"></dir-pagination-controls>
                </md-content>
                <!--<md-content>-->
                    <!--<md-list>-->
                        <!--<md-list-item class="md-3-line" pagination-id="team"-->
                                      <!--dir-paginate="team2 in vmTeam.teams | itemsPerPage: vmTeam.perPage"-->
                                      <!--total-items="vmTeam.total()" style="display: none;">-->
                            <!--<div class="md-list-item-text" layout="column" layout-align="center center">-->
                                <!--<h3>{{team.name}}</h3>-->
                                <!--&lt;!&ndash;<h4>{{item.who}}</h4>&ndash;&gt;-->
                                <!--<p>{{team.description}}</p>-->
                            <!--</div>-->
                            <!--<div class="md-list-item-text" layout="row" layout-align="center center">-->
                                <!--<md-button class="md-fab md-mini hoverable" aria-label="Edit"-->
                                           <!--ng-click="modalSave($event, team._id)">-->
                                    <!--<md-icon md-svg-icon="content:ic_create_24px" aria-label="Edit"></md-icon>-->
                                <!--</md-button>-->
                                <!--<md-button class="md-fab md-mini hoverable" aria-label="Remove" ng-click="remove(team._id)" style="line-height: 0px;">-->
                                <!--<i class="material-icons">delete</i>-->
                                <!--</md-button>-->
                            <!--</div>-->
                            <!--<md-divider></md-divider>-->
                        <!--</md-list-item>-->
                    <!--</md-list>-->
                <!--</md-content>-->
                <!--</md-content>-->
            </div>
        </md-tab>
        <md-tab label="{{'Members' | translate}}">
            <div ng-include="'module/scrum/client/view/organization-member.ng.html'"></div>
        </md-tab>
    </md-tabs>
    <!--<h1 class="md-display-2">Team</h1> {{test}}-->
    <!--<p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>-->
</md-content>