<md-dialog aria-label="Mango (Fruit)">
    <form name="elmForm">
        <!--<md-toolbar>-->
            <!--<div class="md-toolbar-tools">-->
                <!--<h2>Save team</h2>-->
                <!--<span flex></span>-->
            <!--</div>-->
        <!--</md-toolbar>-->
        <md-dialog-content style="min-width:400px;max-width:800px;max-height:810px;">
            <div  ng-show="$root.currentUser">
                <md-input-container class="md-block">
                    <label>{{ 'Color' | translate}}</label>
                    <input ng-model="ctrl.form.color" id="color" type="color" aria-label="Name" required>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>{{ 'Name' | translate }} <b class="red-text">*</b></label>
                    <input name="name" ng-model="ctrl.form.name" id="nameInput" type="text" aria-label="Name" required>
                    <div ng-messages="elmForm.name.$error">
                        <div ng-message="required">{{'How we should call this team' | translate}}?</div>
                    </div>
                    <!--<div ng-messages="form.name.$error">-->
                        <!--<div ng-message="required">required</div>-->
                    <!--</div>-->
                </md-input-container>
                <!--<md-input-container class="md-block">-->
                    <!--<label>Time per member</label>-->
                    <!--<md-select ng-model="form.time" id="time" aria-label=""  placeholder="Time per member" required>-->
                        <!--<md-option  ng-repeat="time in times" value="{{time}}">-->
                            <!--{{time}}-->
                        <!--</md-option>-->
                    <!--</md-select>-->
                <!--</md-input-container>-->
                <div layout>
                    <div flex="40" layout layout-align="center center">
                        <span class="md-body-1">{{ 'Time per member' | translate }}</span>
                    </div>
                    <md-slider ng-model="ctrl.form.time" id="time-slider" flex md-discrete step="1" min="1" max="9" aria-label="Time"></md-slider>
                    <div flex="10" layout layout-align="center center">
                        <span class="md-body-1">{{ctrl.form.time}}h </span>
                    </div>
                </div>
                <md-input-container class="md-block">
                    <label>{{ 'Members' | translate }} <b class="red-text">*</b></label>
                    <md-select name="members" ng-model="ctrl.form.members" id="members" aria-label=""  placeholder="{{ 'Members' | translate }} *" multiple="true" required>
                        <md-option  ng-repeat="member in ctrl.members" value="{{member._id}}">
                            {{member.name}}
                        </md-option>
                    </md-select>
                    <div ng-messages="elmForm.members.$error">
                        <div ng-message="required">{{'Who are the members of this team' | translate}}?</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>{{ 'Description' | translate }}</label>
                    <textarea ng-model="ctrl.form.description" id="description" aria-label="Description"></textarea>
                </md-input-container>
                <!--<md-checkbox ng-model="newParty.public" id="public" aria-label="Public">-->
                    <!--Public-->
                <!--</md-checkbox>-->
            </div>
        </md-dialog-content>
    </form>
    <md-dialog-actions layout="row">
        <span flex></span>
        <!--<md-button class="primary" ng-click="close()">-->
            <!--Cancel-->
        <!--</md-button>-->
        <!--<md-button class="primary" ng-click="save()">-->
            <!--Save-->
        <!--</md-button>-->
        <button class="orange-text text-darken-3 orange-text text-darken-3 btn white waves-effect waves-orange hoverable" type="button" ng-click="ctrl.close()">
            <!--<i class="material-icons right">close</i>-->
            {{ 'Cancel' | translate }}
        </button>
        <button ng-disabled="elmForm.$invalid" class="btn orange darken-3 waves-effect waves-light hoverable" type="button" ng-click="ctrl.save()">
            <!--<i class="material-icons right">check</i>-->
            {{ ctrl.action | translate }}
        </button>
    </md-dialog-actions>
</md-dialog>