<div ng-controller="TrashStoryCtrl as vm" flex>
    <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Search</label>
            <input type="text" ng-model="vm.searchText"/>
        </md-input-container>
        <md-input-container >
            <md-select ng-model="order" placeholder="Sort Order" >
                <md-option ng-click="vm.sortChange('1')" value="1">Ascending</md-option>
                <md-option ng-click="vm.sortChange('-1')" value="-1">Descending</md-option>
            </md-select>
        </md-input-container>
    </div>
    <md-content>
        <md-list>
            <md-list-item class="md-3-line" pagination-id="story" dir-paginate="story in vm.stories | itemsPerPage: vm.perPage" total-items="vm.total()">
                <div class="md-list-item-text" layout="column" layout-align="center center">
                    <h3>{{story.name}}</h3>
                    <p>{{story.description}}</p>
                </div>
                <div class="md-list-item-text" layout="row" layout-align="center center">
                    <md-button class="md-fab md-mini hoverable" aria-label="Restore" ng-click="vm.trash(story._id)"
                               style="line-height: 0px;">
                        <i class="material-icons">restore</i>
                    </md-button>
                    <!--<md-button class="md-fab md-mini hoverable" aria-label="Edit"-->
                               <!--ng-click="vm.modalSave($event, status._id)" style="line-height: 0px;">-->
                        <!--<md-icon md-svg-icon="content:ic_create_24px" aria-label="Edit"></md-icon>-->
                        <!--<i class="material-icons">delete_forever</i>-->
                    <!--</md-button>-->
                </div>
                <!--<md-divider ng-if="!$last"></md-divider>-->
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
        <dir-pagination-controls pagination-id="story" on-page-change="vm.pageChanged(newPageNumber)"></dir-pagination-controls>
    </md-content>
</div>