<div ng-controller="TrashCtrl as vm" flex>
    <ul class="collapsible popout" data-collapsible="accordion">
        <li>
            <div class="collapsible-header"><i class="material-icons" style="color: #9c27b0;">flag</i>Status</div>
            <div class="collapsible-body" ng-include="'module/scrum/client/view/trash-status.ng.html'"></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons" style="color: #4CAF50;">content_paste</i>Story</div>
            <div class="collapsible-body" ng-include="'module/scrum/client/view/trash-story.ng.html'"></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons " style="color: #ffc107">note</i>Task</div>
            <div class="collapsible-body" ng-include="'module/scrum/client/view/trash-task.ng.html'"></div>
        </li>
    </ul>
</div>
<script>
    $(document).ready(function(){
        $('.collapsible').collapsible({
            accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });
    });
</script>