<div class="container" ng-module="brotherhood" ng-controller="DefaultCtrl">
    asdadasdas
    <md-content class="md-padding" ng-repeat="project in projects">
        <md-card>
            <!--<img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">-->
            <md-card-content>
                <h2 class="md-title">{{project.name}}</h2>
                <p>{{project.description}}</p>
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="end center">
                <md-button ng-href="{{project.link}}">Ir</md-button>
            </div>
        </md-card>
        <br/>
    </md-content>
</div>