<div ng-controller="ChatCtrl">
    <md-toolbar class="md-theme-light">
        <div class="md-toolbar-tools">
            <md-button ng-click="close()">
                <md-icon md-svg-icon="communication:ic_chat_24px" aria-label="Chat"></md-icon>
                Bate-papo
            </md-button>
        </div>
    </md-toolbar>
    <md-content layout-padding>
        <div>
            <ul>
                <li ng-repeat="message in messages">
                    <p>{{messages.name}}</p>
                </li>
            </ul>
        </div>
        <form>
            <md-input-container>
                <label for="testInput">Message</label>
                <input ng-model="newMessage.text" id="text" type="text" aria-label="Text"  md-autofocus>
            </md-input-container>
            <md-input-container>
                <md-button ng-click="addNewMessage()" class="md-raised md-primary">Enviar</md-button>
            </md-input-container>

        </form>
        <!--<md-button ng-click="close()" class="md-primary">-->
        <!--Close Sidenav Right-->
        <!--</md-button>-->
    </md-content>
</div>
