<div ng-controller="MenuItemsCtrl">
    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Menu</h1>
    </md-toolbar>
    <md-content layout-padding>
        <md-button ng-click="close()" class="md-primary" hide-gt-md>
            Close Sidenav Left
        </md-button>
        <md-menu>
            <md-menu-item ng-repeat="menuItem in menuItems">
                <md-button ng-href="{{menuItem.link}}">
                    <md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>
                    {{menuItem.name}}
                </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
        </md-menu>
        <p hide-md show-gt-md></p>
    </md-content>
</div>