<div ng-controller="UserSaveCtrl" flex>
    <div class="container">
        <form layout="column">
            <div flex></div>
            <md-input-container>
                <md-icon md-svg-icon="action:ic_face_24px"></md-icon>
                <input type="text" ng-model="dataForm.name"
                       placeholder="Name" aria-label="name"/>
            </md-input-container>
            <md-input-container>
                <md-icon md-svg-icon="content:ic_face_24px"></md-icon>
                <input type="text" ng-model="dataForm.lastName"
                       placeholder="Last name" aria-label="lastName"/>
            </md-input-container>
            <md-input-container>
                <md-icon md-svg-icon="content:ic_mail_24px"></md-icon>
                <input type="text" ng-model="dataForm.email"
                       placeholder="Email" aria-label="email"/>
            </md-input-container>
            <md-input-container>
                <md-icon md-svg-icon="action:ic_lock_open_24px"></md-icon>
                <input type="password" ng-model="dataForm.password"
                       placeholder="Password" aria-label="password"/>
            </md-input-container>
            <md-input-container>
                <md-icon md-svg-icon="action:ic_lock_open_24px"></md-icon>
                <input type="password" ng-model="dataForm.confirmPassword"
                       placeholder="Confirm password" aria-label="confirmPassword"/>
            </md-input-container>
            <md-button class="md-raised md-primary" ng-click="register()" flex>
                Create Account
            </md-button>
            <div flex></div>
        </form>
    </div>
</div>