<!--<div ng-cloak>-->
    <md-content class="md-padding" flex>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Kanban">
                <md-content ng-include="'client/module/scrum/view/kanban.ng.html'" layout="row" layout-sm="column">
                </md-content>
            </md-tab>
            <md-tab label="Sprint">
                <md-content ng-include="'client/module/scrum/view/sprint.ng.html'" layout="row" layout-sm="column">
                </md-content>
            </md-tab>
            <md-tab label="Story">
                <md-content ng-include="'client/module/scrum/view/story.ng.html'" layout="row" layout-sm="column">
                </md-content>
            </md-tab>
            <md-tab label="Status">
                <md-content class="md-padding">
                    <md-content ng-include="'client/module/scrum/view/status.ng.html'" layout="row" layout-sm="column">
                    </md-content>
                </md-content>
            </md-tab>
            <md-tab label="Project">
                <md-content ng-include="'client/module/scrum/view/project.ng.html'" layout="row" layout-sm="column">
                </md-content>
            </md-tab>
            <md-tab label="Team">
                <!--<md-content ng-include="'client/module/scrum/view/team.ng.html'" flex>-->
                <md-content ng-include="'client/module/scrum/view/team.ng.html'" layout="row" layout-sm="column">
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
<!--</div>-->