<md-dialog aria-label="Mango (Fruit)">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2> Save</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content style="min-width:300px;max-width:800px;max-height:810px; ">
            <div  ng-show="$root.currentUser">
                <md-input-container>
                    <md-select ng-model="form.project" id="time" aria-label=""  placeholder="Project" required>
                        <md-option  ng-repeat="project in projects" value="{{project._id}}">
                            {{project.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>Name</label>
                    <input ng-model="form.name" id="nameInput" type="text" aria-label="Name" required>
                </md-input-container>
                <md-input-container>
                    <label>Order</label>
                    <input ng-model="form.order" id="order" type="number" aria-label="Name" required>
                </md-input-container>
                <md-input-container>
                    <label>Description</label>
                    <textarea ng-model="form.description" id="description" aria-label="Description"></textarea>
                </md-input-container>
                <!--<md-checkbox ng-model="newParty.public" id="public" aria-label="Public">-->
                    <!--Public-->
                <!--</md-checkbox>-->
            </div>
        </md-dialog-content>
    </form>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button class="primary" ng-click="close()">
            Cancel
        </md-button>
        <md-button class="primary" ng-click="save()">
            Save
        </md-button>
    </div>
</md-dialog>